// Debugging

@debug: 1pt;
.debugred {
  border: @debug solid red;
}
.debugyellow {
  border: @debug solid yellow;
}
.debuglime {
  border: @debug solid lime;
}

// Variables

@online-orange: #ee861f;
@background-blue: #002343;
@background-dark: #001429;
@color: white;
@font-family: helvetica;
@header-height: 50pt;
@header-padding: 10pt;
@content-width: 600pt;
@content-height: 260pt;

// Rules

body {
  background: @background-dark; /*url('/img/options-jitter.png') left top no-repeat;*/
  font-family: @font-family;
  color: @color;
  margin: 0;
  padding: 0;
  overflow: hidden;

  #background {
    /* using a div for bg image because the background needs to be resized
    if the display is really big (1500px-2000px in width or height) */
    background: url('/img/background-medium.png') center center no-repeat;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
  }
}

/* the logo, subtext and saved notifcation */

header {
  .debugred;
  position: fixed;
  left: 50%;
  top: 50%;
  padding: @header-padding;
  width: @content-width - (@header-padding * 2);
  max-height: @header-height;
  margin-left: -(@content-width / 2);
  margin-top: -(@content-height / 2) - (@header-height) - 5pt;
  text-align: center;
  border-bottom: 1pt solid #eee;
  z-index: 1;

  #logo {
    .debugyellow;
    position: relative;
    float: left;
    margin-left: 25pt;
  }

  #logo_subtext {
    .debugyellow;
    position: absolute;
    float: left;
    margin-top: 1pt;
    margin-left: 215pt;
    font-size: 44pt;
    font-style: italic;
    font-weight: bold;
  }

  #notification {
    position: absolute;
    left: 8pt;
    top: 7.5pt;
    padding: 3pt 15pt 2pt 10pt;
    background: @background-dark;
    font-size: 44pt;
    font-style: italic;
    font-weight: bold;
    color: white;
    box-shadow: 0 0 10pt @background-dark, 0 0 15pt @background-dark, 0 0 30pt @background-dark;
    border-radius: 20pt;
    display: none;
    .heart {
      color: #ff44f8;
    }
    .saved {
      color: #FFFEA8;
    }
  }
}

/* all the options, main content */

#container {
  .debuglime;
  position: fixed;
  left: 50%;
  top: 50%;
  width: @content-width;
  height: @content-height;
  margin-left: -(@content-width / 2);
  margin-top: -(@content-height / 2) + (@header-height / 2);
  z-index: 10;

  .side {
    float: left;
    z-index: 20;
    padding-left: 10pt;
    font-size: 11pt;
    white-space: nowrap;
  }

  #left {
    .debugyellow;
    width: 54%;
    padding-top: 5pt;
  }

  #right {
    .debugred;
    width: 42%;
    /*padding-top: 9pt;*/
    padding-top: 5pt;
  }
}

/* an option item */

.item {
  .debuglime;
  z-index: 2;
  padding-bottom: 11pt;
  clear: both;
  -webkit-transition: all .2s ease-out;

  /* for icon images */
  .icon {
    position: relative;
    margin: 0;
    top: 3pt;
  }
  /* for logo images */
  .logo {
    box-shadow: 0 0 10pt 0pt #333;
    margin: 5pt 0 0 5pt;
  }
  /* for regular size images */
  .image {
    box-shadow: 0 0 5pt 0pt black;
    margin: 5pt 0 0 15pt;
    border-radius: 4pt;
  }

  input {
    box-shadow: 0 0 15px #333;
  }

  &:hover {
    text-shadow:
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #011b36,
      0 0 40px #011b36,
      0 0 70px #011b36,
      0 0 70px #011b36;
  }
  &:hover span::before { /* part of the fancy checkboxes */
    border: solid 1px #aaa;
    background: white;
  }

  /* the bus option in particular */

  #bus_box {
    width: 265pt; /*260pt*/
    margin: 5pt 0 0 15pt;
    overflow: hidden;
    border-top: 1pt solid white;
    border-bottom: 1pt solid #7a7a7a;
    border-radius: 3pt;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E6E5E5), color-stop(1, #CECECF));
    padding: 6pt 8pt;
    white-space: nowrap;
    word-wrap: break-word;

    .bus_stop {
      float: left;
      white-space: nowrap;
      input {
        width: 102pt;
      }
      select {
        z-index: 10; /* allows the down-arrow to be painted behind this */
        position: relative; /* allows the down-arrow to be painted behind this */
        width: 106pt;
      }
      .lines {
        z-index: 10; /* allows the down-arrow to be painted behind this */
        position: relative; /* allows the down-arrow to be painted behind this */
        display: none;
        width: 96pt;
        margin-top: 1pt;
        background-color: silver;
        border-radius: 3pt;
        padding: 3pt 5pt 3pt 5pt;
        text-align: left;
        font-weight: bold;
        font-size: 12pt;
        text-shadow: 0 0 0px white;

        table {
          .debugred;
          width: 100%;
          text-align: center;
          td {
            .debugyellow;
            padding: 1pt 0;
          }
        }
        .active {
          color: #bdba3c;
          cursor: pointer;
          text-decoration: underline;
          text-shadow: 0 0 1px black, 0 0 3px black, 0 0 5px black;
        }
        .inactive {
          color: gray;
          cursor: pointer;
          text-decoration: underline;
        }
        .error {
          color: black;
          text-align: center;
          font-size: 9pt;
          font-weight: bold;
        }
        .loading_left {
          position: relative;
          width: 80px;
          -webkit-transform: scaleX(-1);
        }
        .loading_right {
          position: relative;
          width: 80px;
        }
      }
    }
    #bus_logo {
      position: relative; /* allows the down-arrow to be painted behind this */
      z-index: 10; /* allows the down-arrow to be painted behind this */
      float: left;
      white-space: nowrap;
      width: 33pt;
      margin: 0 8pt;
    }
    #arrow_down {
      position: relative; /* paint behind other stuff */
      z-index: 2;  /* paint behind other stuff */
      left: -135pt;
      top: 28pt;
      img {
        width: 9pt;
      }
    }
  }

  /* the infoscreen option in particular */

  #infoscreen_preview {
    display: none;
  }
}

/* fancy checkboxes replacing the boring, ordinary ones */

label
{
    cursor: pointer;

  input[type="checkbox"] + span::before, /* buttons */
  input[type="radio"] + span::before
  {
    display: inline-block; /* squish to size */
    text-indent: -9999px; /* moving the cross the hell outta here :P */
    width: 12px;
    height: 12px;
    text-transform: uppercase;
    border: 1px solid #000;
    background: white;
    margin: 0 4px 0 0;
    bottom: 2px;
    position: relative;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    color: black;
  }

  input[type="checkbox"] + span::before, /* button's cross */
  input[type="radio"] + span::before
  {
    content: "\2714";
  }

  input[type="checkbox"] + span::before /* round the corners of the radio buttons */
  {
    border-radius: 3px;
  }

  input[type="radio"] + span::before /* round the corners of the radio buttons */
  {
    border-radius: 12px;
  }

  input[type="checkbox"]:checked + span::before, /* move cross into position when checked */
  input[type="radio"]:checked + span::before
  {
    text-indent: 1px;
  }

  input[type="checkbox"], /* hide the real checkbox/radio button */
  input[type="radio"]
  {
    position: fixed;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    opacity: 0;
    height: 20px; /* making the unseen box bigger, makes a nice hitbox */
    width: 40px;
    margin-left: -10px; /* making hitbox even bigger! :P nice hitbox */
    margin-top: -1px;
    cursor: pointer;
  }
}

/* Suggestions for bus stops */

#bus_suggestions {
  .debuglime;
  position: fixed;
  vertical-align: middle;
  width: 150pt;
  overflow: hidden;
  vertical-align: middle;
  display: table-cell;
  padding: 10pt;
  top: 0pt;
  left: 0pt;
  bottom: 0pt;
  
  .suggestion {
    font-size: 10pt;
    line-height: 1.5;
    letter-spacing: .7pt;
    -webkit-transition: all .1s ease-out;
    &:hover {
      cursor: pointer;
      text-shadow:
        0 0 10pt #bbb,
        0 0 15pt #bbb,
        0 0 20pt #fff,
        0 0 40pt #fff,
        0 0 15pt #fff,
        0 0 10pt #fff,
        0 0 20pt #fff;
    }
    .matched_character {
      font-weight: bold;
    }
  }
  .correct {
    color: white;
    font-size: 10pt;
    font-weight: bold;
    line-height: 1.5;
    text-shadow:
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #011b36,
      0 0 40px #011b36;
  }
}

/* debug links in the the top right corner, only shown in debug mode */

#debug_links {
  display: none;
  position: fixed;
  top: 10pt;
  right: 10pt;
  text-align: right;
  font-weight: bold;
  a {
    color: white;
    text-decoration: underline;
  }
}

/* the pageflip at the bottom */

#pageflipbg {
  position: fixed;
  left: 0;
  bottom: 0;
  background: transparent url('/img/pageflipbg.png') no-repeat left bottom;
  width: 185px;
  height: 98px;
  z-index: 105;
}
#pagefliptext {
  position: fixed;
  width: 170px;
  height: 36px;
  left: 5px;
  bottom: 5px;
  font: bold 11px monospace;
  color: #ccf2cc;
  text-shadow: 0 0 5px #68bf70, 0 0 10px #60b95e, 0 0 15px #368f2c, 0 0 20px #25892e, 0 0 30px #183e1a;
  z-index: 106;
}
#pageflip {
  position: fixed;
  left: 0;
  bottom: 0;
  background: transparent url('/img/pageflip.png') no-repeat left bottom;
  width: 185px;
  height: 98px;
  z-index: 107;
}
#pagefliplink {
  position: fixed;
  width: 170px;
  height: 36px;
  left: 5px;
  bottom: 5px;
  font: bold 11px monospace;
  color: #ccf2cc;
  text-shadow:  0 0 5px #68bf70, 0 0 10px #60b95e, 0 0 15px #368f2c, 0 0 20px #25892e, 0 0 30px #183e1a;
  z-index: 108;
}
#pagefliplink a {
  font: bold 11px monospace;
  color: #ccf2cc;
  text-shadow: 0 0 5px #68bf70, 0 0 10px #60b95e, 0 0 15px #368f2c, 0 0 20px #25892e, 0 0 30px #183e1a;
  text-decoration: none;
}
#pagefliplink a:hover {
  text-decoration: underline;
}

/* google +1 button */

#plusonebutton {
  position: fixed;
  right: 3px;
  bottom: 5px;
  width: 170px;
  z-index: 1;
}

/* the Avgrund dialog */

.avgrund_image {
  float: left;
  border: 3pt solid white;
  box-shadow: 0 0 5pt 5pt #ccc;
}

.avgrund_content {
  color: black;
  border: 1pt solid red;
  text-align: center;
  margin: 40pt 10pt 10pt 0pt;
  padding-left: 10pt;
  font: 11pt @font-family;
}

.button {
  margin-left: 20pt;
  padding: 6pt;
  border: 1pt solid gray;
  border-radius: 3pt;
  text-transform: uppercase;
  font: 9pt bold @font-family;
}

.yesbutton {
  background-color: lightgreen;
}

.nobutton {
  background-color: lightgray;
}

a {
  text-decoration: none;
  color: black;
}

/* canvas with webGL */

canvas {
  .debugyellow;
  background: transparent;
  opacity: 0;
  z-index: 10;
}
