
// Debugging

@debug: 0pt;
.debugred {
  border: @debug solid red;
}
.debugyellow {
  border: @debug solid yellow;
}
.debugpink {
  border: @debug solid pink;
}
.debuglime {
  border: @debug solid lime;
}

// Variables

@in-post-padding: 5pt;
@online-orange: #ee861f;

// Mixins

.fullbox {
  width: 100%;
  clear: both;
  padding: 0;
  margin: 0;
}

.title {
  display: block;
  color: @online-orange;
  text-transform: uppercase;
  font-size: 9pt;
  font-weight: bold;
  padding-top: @in-post-padding;
}

.emphasized {
  font-style: italic;
  font-size: 9pt;
  margin-bottom: 5pt;
}

.index {
  font-style: italic;
}

// Rules

body {
  background: #001429;
  overflow: hidden;
  font-family: helvetica;
  color: white;
  margin: 0;
  padding: 0;
  width: 350pt;
  height: 400pt;
  font-size: 9pt;
}

#background {
  /* using a div because the background needs to be resized if
  the display is really big (1500px-2000px in width or height) */
  background: url('/img/background-popup.png') center center no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* This container keeps the content centered */

#container {
  .debugpink;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15pt;
  z-index: 10;

  #header {
    .debugred;
    .fullbox;
    min-height: 35pt;

    #buttons {
      .debuglime;
      width: 150pt;
      float: left;

      .popupbutton {
        border-radius: 5px;
        margin-right: 12px;
        cursor: pointer;
        -webkit-transition: all .15s ease-out;
      }
      .popupbutton:hover {
        box-shadow: inset 0px 0px 10px #777, 0px 0px 15px #bbb, 0px 0px 20px #bbb, 0px 0px 25px #bbb;
      }
    }

    #buttontext {
      .debugyellow;
      display: none;
      position: relative;
      float: left;
      font-weight: bold;
      margin-top: 5px;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    }
    #logo {
      .debugyellow;
      float: right;
      cursor: pointer;
      width: 140pt;
    }
  }

  #todays {
    .debugyellow;
    .fullbox;

    #meetings {
      .debugpink;
      position: relative;
      float: left;
      width: 32%;
    }
    #coffee {
      .debugpink;
      position: relative;
      float: left;
      width: 31%;
      padding-left: 10pt;
    }
    #servant {
      .debugpink;
      position: relative;
      float: left;
      width: 30%;
      padding-left: 10pt;
    }
  }

  #cantinas {
    .debugred;
    .fullbox;
    margin-top: @in-post-padding;

    #hangaren {
      .debugpink;
      position: relative;
      float: left;
      width: 46%;
    }
    #realfag {
      .debugpink;
      position: relative;
      float: right;
      width: 50%; /* when the right box is half the width it'll appear they're both aligned to 50% */
    }
    #dinnerbox {
      .debugyellow;
      margin-top: 3pt;
    }
    li {
      .debuglime;
      position: relative;
      width: 95%;
      cursor: pointer;
      line-height: 1.5em;
      list-style-type: none;
      -webkit-transition: text-shadow 0.15s ease-out 0s;
    }
    li:hover {
      text-shadow:
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #011b36,
        0 0 40px #011b36,
        0 0 70px #011b36,
        0 0 70px #011b36;
    }
    li.message {
      font-style: italic;
    }
  }

  #bus {
    .debugred;
    .fullbox;
    position: relative;
    top: 12pt;
    line-height: 11.5pt;
    background-color: #000f1d;
    height: 65pt;
    width: 110%;
    margin-left: -5%;
    margin-bottom: 15pt;
    box-shadow: 0 0 20pt #88b;

    .loading_left {
      position: relative;
      width: 80px;
      top: 18pt;
      -webkit-transform: scaleX(-1);
    }
    .loading_right {
      position: relative;
      width: 80px;
      top: 18pt;
    }
    .name {
      color: white;
      margin-bottom: 3pt;
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 8pt;
      font-weight: bold;
    }
    .lines {
      .debugyellow;
      text-align: left;
      .line {
        /*nothing to do here yet*/
      }
      .error {
        font-style: italic;
      }
    }
    .times {
      .debugred;
      font-weight: bold;
      text-align: right;
      .time {
        padding-left: 5pt;
      }
    }
    .left {
      display: inline-block;
      float: right;
      position: relative;
    }
    .right {
      display: inline-block;
      float: left;
      position: relative;
    }
    #first_bus {
      .debuglime;
      position: relative;
      float: left;
      text-align: right;
      padding-top: 10pt;
      width: 40%;
    }
    #middle {
      .debuglime;
      position: relative;
      float: left;
      text-align: center;
      width: 18%;
      height: 100%;
      #atb_logo {
        position: relative;
        left: -.5pt;
        margin: 11pt auto;
        height: 46pt;
        cursor: pointer;
      }
    }
    #second_bus {
      .debuglime;
      width: 40%;
      position: relative;
      padding-top: 10pt;
      float: left;
      text-align: left;
    }
  }

  #news {
    .debugred;
    .fullbox;

    .post {
      .debugyellow;
      position: relative;
      clear: both;
      padding-top: @in-post-padding;

      .item {
        .debugyellow;
        min-height: 30pt;
        cursor: pointer;
        padding-right: @in-post-padding;
        padding-left: @in-post-padding;
        margin-left: -@in-post-padding;
        margin-right: -@in-post-padding;
        padding: @in-post-padding;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-transition: box-shadow 0.3s ease-out 0s;

        &:hover {
          box-shadow: inset 0px 0px 2px #bbb, 0px 0px 15px #fff;
        }
        img {
          float: left;
          background: snow;
          width: 70pt;
          max-height: 70pt;
          padding: 3pt;
          box-shadow: 0 0 10pt #bbb;
        }
        .textwrapper {
          .debuglime;
          position: relative;
          float: left;
          text-align: left;
          margin-left: 7pt;
          width: 70%;
        }
      }
    }
    .unread {
      color: white;
      font-size: 8pt;
      text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #011b36, 0 0 30px #011b36, 0 0 35px #fff, 0 0 40px #011b36, 0 0 45px #011b36;
    }
  }

}
