.debugContainer {
  border: 0px solid #00ffff;
}
.debugBox {
  border: 0px solid #ff0000;
}
.debugText {
  border: 0px solid #ffff00;
}
.debugElement {
  border: 0px solid #00ff00;
}
.fullbox {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
.title {
  border: 0px solid #ffff00;
  color: NavajoWhite;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
.title .unread {
  color: white;
}
.emphasized {
  border: 0px solid #ffff00;
  font-style: italic;
}
body {
  background: #001429;
  color: white;
  font-family: Helvetica;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#background {
  /* using a div because the background needs to be resized if
  the display is really big (1500px-2000px in width or height) */

  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* This container keeps the content centered */
#container {
  border: 0px solid #00ffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 10;
}
#container #office {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #todays {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #todays #schedule {
  border: 0px solid #ff0000;
  float: left;
  width: 48%;
}
#container #todays #schedule #servant {
  border: 0px solid #ffff00;
  font-style: italic;
  margin-bottom: 11px;
}
#container #todays #coffee {
  border: 0px solid #ff0000;
  float: right;
  width: 50%;
  /* when the right floating box is half the width it'll appear they're both aligned to 50% */

}
#container #todays #coffee #pots {
  border: 0px solid #ffff00;
  font-style: italic;
  margin-bottom: 11px;
}
#container #cantinas {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #cantinas .hours {
  border: 0px solid #ffff00;
  font-style: italic;
  margin-bottom: 11px;
  -webkit-transition: text-shadow 0.15s ease-out 0s;
}
#container #cantinas #left {
  border: 0px solid #ff0000;
  position: relative;
  float: left;
  width: 48%;
}
#container #cantinas #right {
  border: 0px solid #ff0000;
  position: relative;
  float: right;
  width: 50%;
  /* when the right floating box is half the width it'll appear they're both aligned to 50% */

}
#container #cantinas #dinnerbox {
  border: 0px solid #00ff00;
}
#container #cantinas li {
  border: 0px solid #ffff00;
  position: relative;
  width: 95%;
  list-style-type: none;
  -webkit-transition: text-shadow 0.15s ease-out 0s;
}
#container #cantinas li.message {
  /*font-style: italic;*/

}
#container #bus {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: #111;
  width: 110%;
  margin-left: -5%;
}
#container #bus .name {
  margin-bottom: 5px;
  text-decoration: underline;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container #bus #firstBus {
  border: 0px solid #ff0000;
  position: relative;
  float: left;
  text-align: right;
  padding-top: 13px;
  width: 40%;
}
#container #bus #secondBus {
  border: 0px solid #ff0000;
  position: relative;
  float: left;
  text-align: left;
  padding-top: 13px;
  width: 40%;
}
#container #bus .loadingLeft {
  position: relative;
  z-index: 100;
  -webkit-transform: scaleX(-1);
}
#container #bus .loadingRight {
  position: relative;
  z-index: 100;
}
#container #bus .first,
#container #bus .second,
#container #bus .third,
#container #bus .fourth,
#container #bus .fifth,
#container #bus .sixth,
#container #bus .seventh,
#container #bus .eighth,
#container #bus .nineth,
#container #bus .tenth {
  border: 0px solid #ffff00;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container #bus .time {
  font-weight: bold;
}
#container #bus .error {
  font-style: italic;
}
#container #bus #middle {
  border: 0px solid #ff0000;
  position: relative;
  float: left;
  text-align: center;
  height: 100%;
}
#container #news {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #news .post {
  border: 0px solid #ff0000;
  position: relative;
  clear: both;
}
#container #news .post .item {
  border: 0px solid #00ff00;
  text-overflow: ellipsis;
  overflow: hidden;
}
#container #news .post .item .author {
  display: inline;
  position: relative;
  font-style: italic;
}
#container #news .post .item img {
  float: left;
  background: snow;
}
#container #news .unread {
  text-shadow: 0 0 10px white,
        0 0 15px white;
}
/* The pageflip at the bottom of some pages */
#pageflip {
  position: fixed;
  z-index: 200;
  left: 0;
  bottom: 0;
  color: #ccf2cc;
}
#pageflip #pfBackground {
  position: fixed;
  z-index: 201;
}
#pageflip #pfText {
  position: fixed;
  z-index: 202;
}
#pageflip #pfFlip {
  position: fixed;
  z-index: 203;
}
#pageflip #pfLink {
  position: fixed;
  z-index: 204;
}
#pageflip #pfLink a {
  text-decoration: none;
  color: #ccf2cc;
}
#pageflip #pfLink a:hover {
  text-decoration: underline;
}
/* This file contains infoscreen-additions to common.less */
@font-face {
  font-family: 'Fondamento';
  src: url('/fonts/fondamento/fondamento.ttf');
}
.fondamento {
  font-family: 'Fondamento';
}
@font-face {
  font-family: 'Cardo';
  src: url('/fonts/cardo/cardo.ttf');
}
.cardo {
  font-family: 'Cardo';
}
@font-face {
  font-family: 'Oleoscript';
  src: url('/fonts/oleoscript/oleoscript.ttf');
}
.oleoscript {
  font-family: 'Oleoscript';
}
@font-face {
  font-family: 'Sourcesans';
  src: url('/fonts/sourcesans/sourcesans.ttf');
}
.sourcesans {
  font-family: 'Sourcesans';
}
.title {
  font-size: 32px;
  margin-top: 33px;
  margin-bottom: 11px;
}
.emphasized {
  margin-bottom: 11px;
}
html {
  cursor: none;
}
body {
  font-size: 26px;
  line-height: 29px;
}
#overlay {
  /* note1: the overlay is hidden when debugging, to be able to select/click stuff */

  /* note2: the overlay fades to black every hour or so to refresh the screen pixels, */

  /* yes, even LCD-screens can have burn-in, it just takes a LOT longer than with plasmas */

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: black;
  text-align: center;
  opacity: 0;
}
#fadeOutNews {
  border: 0px solid #00ff00;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 505px;
  z-index: 100;
  background: url('/img/background-infoscreen-news-cutoff.png') center bottom repeat-x;
}
#background {
  /* using a div because the background needs to be resized if
  the display is really big (1500px-2000px in width or height) */

  background-image: url('/img/background-large-vertical.png');
}
/* This container keeps the content centered */
#container {
  overflow-y: hidden;
  padding: 40px;
}
#container #office {
  text-align: center;
}
#container #office #status {
  border: 0px solid #ff0000;
}
#container #office #status #text {
  border: 0px solid #ffff00;
  font-size: 250px;
  line-height: 250px;
  text-shadow: 0 0 20px black;
  padding: 27px 0 13px 0;
}
#container #office #status img {
  border: 0px solid #00ff00;
  width: 90%;
  display: none;
}
#container #office #subtext {
  border: 0px solid #ffff00;
  font-size: 42px;
  line-height: 42px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 20px black, 0 0 25px black;
  padding-bottom: 13px;
}
#container #todays #schedule #servant {
  border: 0px solid #ffff00;
  font-style: italic;
  margin-bottom: 11px;
}
#container #todays #coffee #pots {
  border: 0px solid #ffff00;
  font-style: italic;
  margin-bottom: 11px;
}
#container #cantinas .hours {
  border: 0px solid #ffff00;
  font-style: italic;
  margin-bottom: 11px;
}
#container #bus {
  top: 47px;
  font-size: 24px;
  line-height: 33px;
  height: 192px;
  margin-bottom: 60px;
  box-shadow: 0 0 33px #ccc;
}
#container #bus .name {
  margin-bottom: 4px;
}
#container #bus .loadingLeft {
  width: 213px;
  bottom: 22px;
}
#container #bus .loadingRight {
  width: 213px;
  bottom: 22px;
}
#container #bus #middle {
  width: 14%;
}
#container #bus #middle #atbLogo {
  border: 0px solid #00ff00;
  height: 113px;
  margin-top: 2px;
}
#container #bus #middle #clock {
  border: 0px solid #00ff00;
  color: #fff;
  margin-top: 20px;
  text-align: center;
}
#container #bus #middle #clock li {
  border: 0px solid #ffff00;
  display: inline-block;
  font-family: helvetica;
  font-size: 40px;
  list-style: none;
}
#container #bus #middle #clock #hours {
  position: relative;
  left: 5px;
}
#container #bus #middle #clock #minutes {
  position: relative;
  left: -5px;
}
#container #bus #middle #clock #point {
  position: relative;
  left: -0.7px;
  -moz-animation: mymove 1s ease infinite;
  -webkit-animation: mymove 1s ease infinite;
}
@-webkit-keyframes mymove {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 1.0;
  }
}
#container #news {
  /* #full for using a single column */

  /* #left and #right for using double columns */

}
#container #news #full {
  position: relative;
  width: 100%;
  float: left;
}
#container #news #full img {
  float: left;
  width: 200px;
  max-height: 200px;
  margin: 0 9px 6px 0;
}
#container #news #left {
  position: relative;
  width: 45%;
  float: left;
}
#container #news #left img {
  float: right;
  margin: 0 0 4px 4px;
}
#container #news #right {
  position: relative;
  width: 50%;
  float: right;
}
#container #news #right .title {
  color: LightGrey;
}
#container #news #right img {
  float: right;
  margin: 0 0 4px 4px;
}
#container #news .post {
  margin-top: 33px;
}
#container #news .post .item {
  margin-top: -6px;
  min-height: 53px;
  cursor: pointer;
  margin-left: -6px;
  margin-right: -6px;
  padding: 7px;
  -webkit-transition: box-shadow 0.3s ease-out 0s;
}
#container #news .post .item:hover {
  box-shadow: inset 0 0 3px #bbb,
            0 0 13px white;
}
#container #news .post .item .title {
  margin-top: 0;
  /* overrides default value */

}
#container #news .post .item img {
  width: auto;
  height: auto;
  max-width: 160px;
  max-height: 160px;
  padding: 8px;
  box-shadow: 0 0 27px #bbb;
}
#container #news .unread {
  font-size: 32px;
}
/* the affiliation logo or sponsor logo */
#logo {
  border: 0px solid #00ff00;
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 400px;
  z-index: 110;
}
/* the pageflip at the bottom */
#pageflip {
  width: 356px;
  height: 181px;
  font: bold 22px monospace;
  text-shadow: 0 0 5px #68bf70,
    0 0 10px #60b95e,
    0 0 15px #368f2c,
    0 0 20px #25892e,
    0 0 30px #183e1a;
}
#pageflip #pfBackground {
  left: 0;
  bottom: 0;
  width: 356px;
  height: 181px;
  background: transparent url('/img/pageflip-big-background.png') no-repeat left bottom;
}
#pageflip #pfText {
  left: 8px;
  bottom: 5px;
  width: 300px;
  height: 76px;
}
#pageflip #pfFlip {
  left: 0;
  bottom: 0;
  width: 356px;
  height: 181px;
  background: transparent url('/img/pageflip-big.png') no-repeat left bottom;
}
#pageflip #pfLink {
  left: 8px;
  bottom: 5px;
  width: 300px;
  height: 76px;
}
