/* DEBUG variables, set to colors instead of
 * transparents for debug borders around everything
 */
/*
@debugRed: red;
@debugCyan: cyan;
@debugLime: lime;
@debugYellow: yellow;
/*/
/* Debugging, use bright colors that stand out */
.debugContainer {
  border: 1px solid transparent;
}
/* Outer containers */
.debugBox {
  border: 1px solid transparent;
}
/* Inner containers */
.debugText {
  border: 1px solid transparent;
}
/* Text elements */
.debugElement {
  border: 1px solid transparent;
}
/* Other elements */
/* Fonts */
@font-face {
  font-family: 'Fondamento';
  src: url('/fonts/fondamento/fondamento.ttf');
}
.fondamento {
  font-family: 'Fondamento';
}
@font-face {
  font-family: 'Cardo';
  src: url('/fonts/cardo/cardo.ttf');
}
.cardo {
  font-family: 'Cardo';
}
@font-face {
  font-family: 'Oleoscript';
  src: url('/fonts/oleoscript/oleoscript.ttf');
}
.oleoscript {
  font-family: 'Oleoscript';
}
@font-face {
  font-family: 'Sourcesans';
  src: url('/fonts/sourcesans/sourcesans.ttf');
}
.sourcesans {
  font-family: 'Sourcesans';
}
/* Font for the clock */
@font-face {
  font-family: 'Digi';
  src: url('../fonts/digi/digi.ttf') format('truetype');
}
/* Mixins */
.fullbox {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
.title,
.titleDropdown {
  border: 1px solid transparent;
  color: NavajoWhite;
  display: block;
  font-weight: bold;
}
.title .unread,
.titleDropdown .unread {
  color: white;
}
.title {
  font-size: 32px;
  margin-top: 33px;
  margin-bottom: 11px;
}
.emphasized {
  border: 1px solid transparent;
  font-style: italic;
  margin-bottom: 11px;
}
/* Rules */
html {
  cursor: none;
}
body {
  color: white;
  font-family: Helvetica;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  font-size: 26px;
  line-height: 29px;
}
#overlay {
  /* note1: the overlay is hidden when debugging, to be able to select/click stuff */
  /* note2: the overlay fades to black every hour or so to refresh the screen pixels, */
  /* yes, even LCD-screens can have burn-in, it just takes a LOT longer than with plasmas */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: black;
  text-align: center;
  opacity: 0;
}
#fadeOutNews {
  border: 1px solid transparent;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 505px;
  z-index: 100;
  background-image: url('/img/background-infoscreen-news-cutoff.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#background {
  /* using a div because the background is color shifted by the palette CSS files */
  /* also - using a div because the background needs to be resized if
  the display is really big (1500px-2000px in width or height) */
  position: fixed;
  background-image: url('/img/background-large-vertical.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
/* This container keeps the content centered */
#container {
  border: 1px solid transparent;
  position: relative;
  overflow-y: hidden;
  padding: 40px;
}
#container #office {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
#container #office #status {
  border: 1px solid transparent;
}
#container #office #status #text {
  border: 1px solid transparent;
  font-size: 250px;
  line-height: 250px;
  text-shadow: 0 0 20px black;
  padding: 27px 0 13px 0;
}
#container #office #status img {
  border: 1px solid transparent;
  width: 90%;
  display: none;
}
#container #office #subtext {
  border: 1px solid transparent;
  font-size: 42px;
  line-height: 42px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 20px black, 0 0 25px black;
  padding-bottom: 13px;
}
#container #todays {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #todays #schedule {
  border: 1px solid transparent;
  float: left;
  width: 47.5%;
}
#container #todays #schedule #servant {
  border: 1px solid transparent;
  font-style: italic;
  margin-bottom: 11px;
}
#container #todays #coffee {
  border: 1px solid transparent;
  float: right;
  width: 47.5%;
}
#container #todays #coffee #pots {
  border: 1px solid transparent;
  font-style: italic;
  margin-bottom: 11px;
}
#container #cantinas {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #cantinas .hours {
  border: 1px solid transparent;
  font-style: italic;
  margin-bottom: 11px;
  -webkit-transition: text-shadow 0.15s ease-out 0s;
}
#container #cantinas .first {
  border: 1px solid transparent;
  position: relative;
  float: left;
  width: 47.5%;
}
#container #cantinas .second {
  border: 1px solid transparent;
  position: relative;
  float: right;
  width: 47.5%;
}
#container #cantinas #dinnerbox {
  border: 1px solid transparent;
}
#container #cantinas li {
  border: 1px solid transparent;
  position: relative;
  width: 95%;
  list-style-type: none;
  -webkit-transition: text-shadow 0.15s ease-out 0s;
}
#container #cantinas li.message {
  /*font-style: italic;*/
}
#container #bus {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: #111;
  background-clip: padding-box;
  /* makes the background color only show on the inside of the border */
  width: 110%;
  margin-left: -5%;
  top: 47px;
  font-size: 24px;
  line-height: 30px;
  height: 200px;
  margin-bottom: 60px;
  padding: 0 3%;
  box-shadow: 0 0 25px #aaa;
}
#container #bus .name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  line-height: 36px;
}
#container #bus .loadingLeft {
  position: relative;
  z-index: 100;
  -webkit-transform: scaleX(-1);
  width: 213px;
  bottom: 22px;
}
#container #bus .loadingRight {
  position: relative;
  z-index: 100;
  width: 213px;
  bottom: 22px;
}
#container #bus .first,
#container #bus .second,
#container #bus .third,
#container #bus .fourth,
#container #bus .fifth,
#container #bus .sixth,
#container #bus .seventh,
#container #bus .eighth,
#container #bus .nineth,
#container #bus .tenth {
  border: 1px solid transparent;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container #bus .time {
  /* nothing here yet */
}
#container #bus .error {
  font-style: italic;
}
#container #bus #firstBus {
  border: 1px solid transparent;
  position: relative;
  float: left;
  text-align: right;
  padding-top: 14px;
  width: 42%;
}
#container #bus #secondBus {
  border: 1px solid transparent;
  position: relative;
  float: left;
  text-align: left;
  padding-top: 14px;
  width: 42%;
}
#container #bus #middle {
  border: 1px solid transparent;
  position: relative;
  float: left;
  text-align: center;
  height: 100%;
  width: 14%;
}
#container #bus #middle #atbLogo {
  border: 1px solid transparent;
  height: 113px;
  margin-top: 2px;
  border-radius: 6px;
  border-top-left-radius: 30px;
}
#container #bus #middle #clock {
  border: 1px solid transparent;
  color: #fff;
  margin-top: 20px;
  text-align: center;
  text-shadow: 0 0 5px #ddd,
          0 0 10px #ccc,
          0 0 15px #bbb;
}
#container #bus #middle #clock li {
  border: 1px solid transparent;
  display: inline-block;
  font-family: Digi;
  font-size: 45px;
  list-style: none;
}
#container #bus #middle #clock #hours {
  position: relative;
  left: 5px;
}
#container #bus #middle #clock #minutes {
  position: relative;
  left: -5px;
}
#container #bus #middle #clock #point {
  position: relative;
  left: -1px;
  -moz-animation: mymove 1s ease infinite;
  -webkit-animation: mymove 1s ease infinite;
}
@-webkit-keyframes mymove {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 1.0;
  }
}
#container #news {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  /* #full for using a single column */
  /* #left and #right for using double columns */
  /* for each news article */
}
#container #news #full {
  position: relative;
  width: 100%;
  float: left;
}
#container #news #full > .title {
  display: none;
  /* no need for affiliation title when only one is in use */
}
#container #news #full article img.regular {
  float: left;
  width: 33%;
  min-height: 180px;
  max-height: 400px;
  margin: 0 15px 0 0;
}
#container #news #left,
#container #news #right {
  position: relative;
  width: 47.5%;
}
#container #news #left > .title,
#container #news #right > .title {
  margin-bottom: -10px;
}
#container #news #left .title.regular,
#container #news #right .title.regular {
  color: LightGrey;
}
#container #news #left {
  float: left;
}
#container #news #right {
  float: right;
}
#container #news article {
  border: 1px solid transparent;
  position: relative;
  clear: both;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 33px;
  min-height: 53px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#container #news article .title {
  position: relative;
  margin-top: 0;
  /* overrides default value */
}
#container #news article .title.flashy {
  position: absolute;
  width: 92%;
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  text-transform: none;
  text-shadow: 0 0 8px #333333, 0 0 4px #333333, -2px -2px 2px #333333, -2px 2px 2px #333333, 2px -2px 2px #333333, 2px 2px 2px #333333;
  font-size: 35px;
  line-height: 38px;
  top: 22px;
  left: 22px;
}
#container #news article .author {
  display: inline;
  position: relative;
  font-style: italic;
}
#container #news article .author.flashy {
  position: absolute;
  width: 92%;
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 32px;
  bottom: 22px;
  left: 22px;
  text-shadow: 0 0 8px #333333, 0 0 4px #333333, -2px -2px 2px #333333, -2px 2px 2px #333333, 2px -2px 2px #333333, 2px 2px 2px #333333;
}
#container #news article img {
  width: 100%;
  height: auto;
  background: snow;
  min-height: 180px;
  max-height: 400px;
  padding: 5px;
  border-radius: 5px;
}
#container #news article img.regular {
  float: right;
  width: 33%;
  margin: 4px 0 0 6px;
}
#container #news article img.flashy {
  float: left;
  width: 97%;
  margin: 0;
}
#container #news .unread {
  font-size: 32px;
  text-shadow: 0 0 5px #000000, -1px -1px 1px #333333, -1px 1px 1px #333333, 1px -1px 1px #333333, 1px 1px 1px #333333;
}
/* the affiliation logo or sponsor logo */
#logo {
  border: 1px solid transparent;
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 400px;
  z-index: 110;
}
/* the pageflip at the bottom */
#pageflip {
  position: fixed;
  z-index: 200;
  left: 0;
  bottom: 0;
  color: #ccf2cc;
  width: 356px;
  height: 181px;
  font: bold 22px monospace;
  text-shadow: 0 0 5px #68bf70,
    0 0 10px #60b95e,
    0 0 15px #368f2c,
    0 0 20px #25892e,
    0 0 30px #183e1a;
}
#pageflip #pfBackground {
  position: fixed;
  z-index: 201;
  left: 0;
  bottom: 0;
  width: 356px;
  height: 181px;
  background: transparent url('/img/pageflip-big-background.png') no-repeat left bottom;
}
#pageflip #pfText {
  position: fixed;
  z-index: 202;
  left: 8px;
  bottom: 4px;
  width: 300px;
  height: 76px;
}
#pageflip #pfFlip {
  position: fixed;
  z-index: 203;
  left: 0;
  bottom: 0;
  width: 356px;
  height: 181px;
  background: transparent url('/img/pageflip-big.png') no-repeat left bottom;
}
#pageflip #pfLink {
  position: fixed;
  z-index: 204;
  left: 8px;
  bottom: 4px;
  width: 300px;
  height: 76px;
}
#pageflip #pfLink a {
  text-decoration: none;
  color: #ccf2cc;
}
#pageflip #pfLink a:hover {
  text-decoration: underline;
}
