.debugContainer {
  border: 0px solid #00ffff;
}
.debugBox {
  border: 0px solid #ff0000;
}
.debugText {
  border: 0px solid #ffff00;
}
.debugElement {
  border: 0px solid #00ff00;
}
.fullbox {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
.title {
  border: 0px solid #ffff00;
  color: NavajoWhite;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
.title .unread {
  color: white;
}
.emphasized {
  border: 0px solid #ffff00;
  font-style: italic;
}
body {
  background: #001429;
  color: white;
  font-family: Helvetica;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#background {
  /* using a div because the background needs to be resized if
  the display is really big (1500px-2000px in width or height) */

  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* This container keeps the content centered */
#container {
  border: 0px solid #00ffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 10;
}
#container #office {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #todays {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #todays #schedule {
  border: 0px solid #ff0000;
  float: left;
  width: 48%;
}
#container #todays #schedule #servant {
  border: 0px solid #ffff00;
  font-style: italic;
  margin-bottom: 7px;
}
#container #todays #coffee {
  border: 0px solid #ff0000;
  float: right;
  width: 50%;
  /* when the right floating box is half the width it'll appear they're both aligned to 50% */

}
#container #todays #coffee #pots {
  border: 0px solid #ffff00;
  font-style: italic;
  margin-bottom: 7px;
}
#container #cantinas {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #cantinas .hours {
  border: 0px solid #ffff00;
  font-style: italic;
  margin-bottom: 7px;
  -webkit-transition: text-shadow 0.15s ease-out 0s;
}
#container #cantinas #left {
  border: 0px solid #ff0000;
  position: relative;
  float: left;
  width: 48%;
}
#container #cantinas #right {
  border: 0px solid #ff0000;
  position: relative;
  float: right;
  width: 50%;
  /* when the right floating box is half the width it'll appear they're both aligned to 50% */

}
#container #cantinas #dinnerbox {
  border: 0px solid #00ff00;
}
#container #cantinas li {
  border: 0px solid #ffff00;
  position: relative;
  width: 95%;
  list-style-type: none;
  -webkit-transition: text-shadow 0.15s ease-out 0s;
}
#container #cantinas li.message {
  /*font-style: italic;*/

}
#container #bus {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: #111;
  width: 110%;
  margin-left: -5%;
}
#container #bus .name {
  margin-bottom: 5px;
  text-decoration: underline;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container #bus #firstBus {
  border: 0px solid #ff0000;
  position: relative;
  float: left;
  text-align: right;
  padding-top: 13px;
  width: 40%;
}
#container #bus #secondBus {
  border: 0px solid #ff0000;
  position: relative;
  float: left;
  text-align: left;
  padding-top: 13px;
  width: 40%;
}
#container #bus .loadingLeft {
  position: relative;
  z-index: 100;
  -webkit-transform: scaleX(-1);
}
#container #bus .loadingRight {
  position: relative;
  z-index: 100;
}
#container #bus .first,
#container #bus .second,
#container #bus .third,
#container #bus .fourth,
#container #bus .fifth,
#container #bus .sixth,
#container #bus .seventh,
#container #bus .eighth,
#container #bus .nineth,
#container #bus .tenth {
  border: 0px solid #ffff00;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container #bus .time {
  font-weight: bold;
}
#container #bus .error {
  font-style: italic;
}
#container #bus #middle {
  border: 0px solid #ff0000;
  position: relative;
  float: left;
  text-align: center;
  height: 100%;
}
#container #news {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #news .post {
  border: 0px solid #ff0000;
  position: relative;
  clear: both;
}
#container #news .post .item {
  border: 0px solid #00ff00;
  text-overflow: ellipsis;
  overflow: hidden;
}
#container #news .post .item .author {
  display: inline;
  position: relative;
  font-style: italic;
}
#container #news .post .item img {
  float: left;
  background: snow;
}
#container #news .unread {
  text-shadow: 0 0 10px white,
        0 0 15px white;
}
/* This file contains mobile-additions to common.less */
.title {
  font-size: 32px;
  margin-top: 27px;
  margin-bottom: 7px;
}
.emphasized {
  margin-bottom: 7px;
}
* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*-webkit-user-select: none;*/
  /* do not use, disables possibility of having options */

}
a {
  text-decoration: none;
  color: white;
}
body {
  /* Using blue radial and black vertical background gradients instead of images,
  saving a lot of page weight. Ironically, Microsoft has the best gradient maker, at
  ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/default.html */

  /*
  Fallback for older browsers
  background-color: #002343;
  IE10 Consumer Preview
  background-image: -ms-radial-gradient(center, circle farthest-corner, #00274F 0%, #00254C 20%, #002040 40%, #001832 60%, #001427 80%, #000000 100%);
  Mozilla Firefox
  background-image: -moz-radial-gradient(center, circle farthest-corner, #00274F 0%, #00254C 20%, #002040 40%, #001832 60%, #001427 80%, #000000 100%);
  Opera
  background-image: -o-radial-gradient(center, circle farthest-corner, #00274F 0%, #00254C 20%, #002040 40%, #001832 60%, #001427 80%, #000000 100%);
  Webkit (Safari/Chrome 10)
  background-image: -webkit-gradient(radial, center center, 0, center center, 494, color-stop(0, #00274F), color-stop(0.2, #00254C), color-stop(0.4, #002040), color-stop(0.6, #001832), color-stop(0.8, #001427), color-stop(1, #000000));
  Webkit (Chrome 11+)
  background-image: -webkit-radial-gradient(center, circle farthest-corner, #00274F 0%, #00254C 20%, #002040 40%, #001832 60%, #001427 80%, #000000 100%);
  W3C Markup, IE10 Release Preview
  background-image: radial-gradient(circle farthest-corner at center, #00274F 0%, #00254C 20%, #002040 40%, #001832 60%, #001427 80%, #000000 100%);
  */

  width: 980px;
  font-size: 32px;
}
/* This container keeps the content centered */
#container {
  overflow-y: auto;
  padding: 40px;
  /*
  #options {
    .fullbox;

    #busBox {
      overflow: hidden;
      border-top: 1px solid white;
      border-bottom: 1px solid #7a7a7a;
      border-radius: 13px;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E6E5E5), color-stop(1, #CECECF));
      padding: 8px 11px;
      white-space: nowrap;
      word-wrap: break-word;
      z-index: 100;

      .busStop {
        .debugElement;
        float: left;
        white-space: nowrap;
        z-index: 101;
        input {
          width: 327px;
          font-size: 32px;
          z-index: 102;
        }
        select {
          z-index: 10; /* allows the down-arrow to be painted behind this * /
          position: relative; /* allows the down-arrow to be painted behind this * /
          width: 327px;
          font-size: 32px;
          z-index: 102;
        }
        .lines {
          z-index: 10; /* allows the down-arrow to be painted behind this * /
          position: relative; /* allows the down-arrow to be painted behind this * /
          width: 327px;
          margin-top: 1px;
          border-top: 1px solid white;
          box-shadow: 0 1px 2px #888;
          border-radius: 4px;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e8e8e8), color-stop(1, #c0c0c0));
          padding: 2px 7px 1px 7px;
          text-align: left;
          font-size: 32px;
          text-shadow: 0 0 0 white; /* resets inhertied value from parent element * /
          z-index: 102;

          table {
            .debugElement;
            width: 100%;
            table-layout: fixed;
            text-align: center;
            z-index: 103;
            td {
              .debugText;
              padding: 1px 0;
              z-index: 103;
            }
          }
          .active {
            cursor: pointer;
            color: black;
            &:hover {
              font-weight: bold;
            }
          }
          .inactive {
            cursor: pointer;
            color: gray;
            &:hover {
              font-weight: bold;
            }
          }
          .error {
            color: black;
            text-align: center;
            font-size: 32px;
          }
          .loadingLeft {
            position: relative;
            width: 80px;
            -webkit-transform: scaleX(-1);
          }
          .loadingRight {
            position: relative;
            width: 80px;
          }
        }
      }
      #busLogo {
        .debugElement;
        position: relative; /* allows the down-arrow to be painted behind this * /
        z-index: 10; /* allows the down-arrow to be painted behind this * /
        float: left;
        white-space: nowrap;
        width: 127px;
        margin: 0 11px;
      }
    }
  }
  */

}
#container #office {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  /* set "padding-top: 53px" if page uses translucent status bar (wifi, battery) */

  padding-top: 0;
  text-align: center;
}
#container #office #status {
  border: 0px solid #ffff00;
  font-size: 120px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 20px black, 0 0 27px black;
}
#container #office .open {
  color: #00ff00;
}
#container #office .closed {
  color: #ffff00;
}
#container #office .meeting {
  color: #ff0000;
}
#container #office .waffle {
  color: SandyBrown;
}
#container #office .error {
  color: #888;
}
#container #office #subtext {
  border: 0px solid #ffff00;
  position: relative;
  top: -13px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 20px black, 0 0 27px black;
}
#container #bus {
  top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 0 20px #88b;
  height: 187px;
}
#container #bus .name {
  margin-bottom: 4px;
}
#container #bus #firstBus {
  padding-top: 16px;
  width: 42%;
}
#container #bus #secondBus {
  padding-top: 16px;
  width: 41%;
}
#container #bus .loadingLeft {
  width: 160px;
  top: 24px;
}
#container #bus .loadingRight {
  width: 160px;
  top: 24px;
}
#container #bus #middle {
  width: 14%;
  height: 100%;
}
#container #bus #middle img {
  margin: 47px 0;
  height: 100px;
}
#container #news {
  /*padding-top: @box-padding * 2;*/

}
#container #news .post {
  /*padding-bottom: @box-padding;*/

}
#container #news .post .item {
  min-height: 53px;
}
#container #news .post .item img {
  width: auto;
  max-width: 227px;
  max-height: 187px;
  padding: 5px;
  -webkit-box-shadow: 0 0 10px #bbb;
}
#container #news .post .item .textwrapper {
  border: 0px solid #ffff00;
  position: relative;
  float: left;
  text-align: left;
  margin-left: 19px;
  width: 70%;
}
#container #logo {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
#container #logo img {
  width: 400px;
  padding: 40px 0;
}
/* Suggestions for bus stops */
/*
#busSuggestions {
  .debugBox;
  position: absolute;
  vertical-align: middle;
  overflow: auto;
  width: 100%;
  height: 353px;
  vertical-align: middle;
  display: none;
  top: 0;
  left: 0;
  z-index: 200;
  
  .suggestion {
    font-size: 53px;
    line-height: 1.5;
    padding-left: 40px;
    letter-spacing: .9px;
    box-shadow: inset 0 0 27px black, inset 0 0 53px black, inset 0 0 80px black, inset 0 0 107px black, inset 0 0 133px black;
    .matched_character {
      font-weight: bold;
    }
  }
  .correct {
    color: white;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    text-shadow:
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #011b36,
      0 0 40px #011b36;
  }
}
*/
