/* This file contains infoscreen-additions to common.less */
@font-face {
  font-family: 'Digi';
  src: url('../fonts/digi/digi.ttf') format('truetype');
}
.fullbox {
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
.title {
  font-family: 'Helvetica Neue', 'Helvetica';
  font-weight: 200;
  font-size: 60px;
  margin-top: 44px;
  margin-bottom: 18px;
  display: block;
}
.emphasized {
  font-style: italic;
  margin-top: 22px;
  margin-bottom: 5px;
  color: #cff;
}
html {
  cursor: none;
}
body {
  background: #001429;
  color: white;
  font-family: 'Helvetica Neue', 'Helvetica';
  font-weight: 200;
  font-size: 38px;
  line-height: 42px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#overlay {
  /* note1: the overlay is hidden when debugging, to be able to select/click stuff */
  /* note2: the overlay fades to black every hour or so to refresh the screen pixels, */
  /* yes, even LCD-screens can have burn-in, it just takes a LOT longer than with plasmas */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: black;
  text-align: center;
  opacity: 0;
}
#fadeOutNews {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 505px;
  z-index: 100;
  background-image: url('/img/background-infoscreen-news-cutoff.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: inherit;
}
#background {
  /* using a div because the background is color shifted by the palette CSS files */
  background-image: url('/img/background-large-vertical.png');
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* This container keeps the content centered */
#container {
  overflow: hidden;
  padding: 0 40px 40px 40px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
#container #now {
  width: 110%;
  height: 100px;
  margin-left: -5%;
  box-shadow: 0 4px 18px #aaa;
  background-color: #000f1f;
  overflow: hidden;
}
#container #now #text {
  float: left;
  width: 65%;
  font-size: 52px;
  line-height: 44px;
  margin-left: 4%;
}
#container #now #text #status {
  margin-top: 30px;
  float: left;
}
#container #now #text #info {
  margin-top: 30px;
  float: left;
  margin-left: 12px;
  color: #cff;
}
#container #now #clock {
  height: 100px;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  font-family: 'Digi';
  text-shadow: 0 0 5px #ddd,
        0 0 10px #ccc,
        0 0 15px #bbb;
}
#container #now #clock li {
  display: inline-block;
  font-family: Digi;
  font-size: 70px;
  list-style: none;
}
#container #now #clock #hours {
  position: relative;
  left: 10px;
}
#container #now #clock #minutes {
  position: relative;
  left: -10px;
}
#container #now #clock #point {
  position: relative;
  -moz-animation: mymove 1s ease infinite;
  -webkit-animation: mymove 1s ease infinite;
}
@-webkit-keyframes mymove {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 1.0;
  }
}
#container #todays {
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 22px;
}
#container #todays #schedule {
  float: left;
  width: 47.5%;
}
#container #todays #schedule #servant {
  font-style: italic;
  margin-top: 22px;
  margin-bottom: 5px;
  color: #cff;
}
#container #todays #schedule span {
  color: #bbb;
}
#container #todays #coffee {
  float: right;
  width: 47.5%;
}
#container #todays #coffee #pots {
  font-style: italic;
  margin-top: 22px;
  margin-bottom: 5px;
  color: #cff;
}
#container #cantinas {
  margin: 0;
  padding: 0;
  width: 100%;
  clear: both;
  display: inline-block;
}
#container #cantinas .first,
#container #cantinas .second {
  width: 100%;
  float: left;
}
#container #cantinas .first #head,
#container #cantinas .second #head {
  margin-top: 44px;
  width: 100%;
  display: inline-block;
  clear: both;
}
#container #cantinas .first #head .title,
#container #cantinas .second #head .title {
  display: inline;
  margin-top: 0;
}
#container #cantinas .first #head .hours,
#container #cantinas .second #head .hours {
  display: inline;
  margin-left: 20px;
  color: #aaa;
}
#container #cantinas .first #dinnerbox,
#container #cantinas .second #dinnerbox {
  font-size: 52px;
  line-height: 55px;
  margin-top: 8px;
  width: 100%;
}
#container #cantinas .first #dinnerbox li,
#container #cantinas .second #dinnerbox li {
  position: relative;
  width: 95%;
  list-style-type: none;
  -webkit-transition: text-shadow 0.15s ease-out 0s;
}
#container #cantinas .first #dinnerbox li span,
#container #cantinas .second #dinnerbox li span {
  color: #bbb;
}
#container #cantinas .first #dinnerbox li.message,
#container #cantinas .second #dinnerbox li.message {
  /*font-style: italic;*/
}
#container #bus {
  width: 110%;
  margin-left: -5%;
  left: 0;
  clear: both;
  display: inline-block;
  background-color: #111;
  margin-top: 42px;
  box-shadow: 0 0 33px #ccc;
}
#container #bus .name {
  color: #cf9;
  font-size: 44px;
  margin-bottom: 12px;
}
#container #bus #firstBus,
#container #bus #secondBus {
  padding: 32px 0;
}
#container #bus #firstBus .first,
#container #bus #secondBus .first,
#container #bus #firstBus .second,
#container #bus #secondBus .second,
#container #bus #firstBus .third,
#container #bus #secondBus .third,
#container #bus #firstBus .fourth,
#container #bus #secondBus .fourth,
#container #bus #firstBus .fifth,
#container #bus #secondBus .fifth,
#container #bus #firstBus .sixth,
#container #bus #secondBus .sixth,
#container #bus #firstBus .seventh,
#container #bus #secondBus .seventh,
#container #bus #firstBus .eighth,
#container #bus #secondBus .eighth,
#container #bus #firstBus .ninth,
#container #bus #secondBus .ninth,
#container #bus #firstBus .tenth,
#container #bus #secondBus .tenth {
  clear: both;
}
#container #bus #firstBus {
  width: 45%;
  float: left;
  text-align: right;
}
#container #bus #firstBus .line {
  float: right;
  margin-right: 12px;
}
#container #bus #firstBus .time {
  float: right;
  color: #bbb;
}
#container #bus #secondBus {
  width: 48%;
  float: right;
}
#container #bus #secondBus .time {
  float: left;
  color: #bbb;
}
#container #bus #secondBus .line {
  float: left;
  margin-left: 12px;
}
/* the affiliation logo or sponsor logo */
#logo {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 400px;
  z-index: 110;
  display: inherit;
}
/* the pageflip at the bottom */
#pageflip {
  position: fixed;
  z-index: 200;
  left: 0;
  bottom: 0;
  color: #ccf2cc;
  width: 356px;
  height: 181px;
  font: bold 22px monospace;
  text-shadow: 0 0 5px #68bf70,
    0 0 10px #60b95e,
    0 0 15px #368f2c,
    0 0 20px #25892e,
    0 0 30px #183e1a;
}
#pageflip #pfBackground {
  position: fixed;
  z-index: 201;
  left: 0;
  bottom: 0;
  width: 356px;
  height: 181px;
  background: transparent url('/img/pageflip-big-background.png') no-repeat left bottom;
}
#pageflip #pfText {
  position: fixed;
  z-index: 202;
  left: 8px;
  bottom: 4px;
  width: 300px;
  height: 76px;
}
#pageflip #pfFlip {
  position: fixed;
  z-index: 203;
  left: 0;
  bottom: 0;
  width: 356px;
  height: 181px;
  background: transparent url('/img/pageflip-big.png') no-repeat left bottom;
}
#pageflip #pfLink {
  position: fixed;
  z-index: 204;
  left: 8px;
  bottom: 4px;
  width: 300px;
  height: 76px;
}
#pageflip #pfLink a {
  text-decoration: none;
  color: #ccf2cc;
}
#pageflip #pfLink a:hover {
  text-decoration: underline;
}
