
@import "common.pageflip.less";

// Debugging

@debug: 0;
.debugred {
  border: @debug solid red;
}
.debugyellow {
  border: @debug solid yellow;
}
.debuglime {
  border: @debug solid lime;
}

// Variables

@online-orange: #ee861f;
@background-blue: #002343;
@background-dark: #001429;
@color: white;
@font-family: helvetica;
@header-height: 67px;
@header-padding: 13px;
@content-width: 800px;
@content-height: 413px;

// Rules

body {
  background: @background-dark;
  font-family: @font-family;
  color: @color;
  margin: 0;
  padding: 0;
  overflow: hidden;

  #background {
    /* using a div for bg image because the background needs to be resized
    if the display is really big (1500px-2000px in width or height) */
    background: url('/img/background-medium.png') center center no-repeat;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
  }
}

/* the logo, subtext and saved notifcation */

header {
  .debugred;
  position: fixed;
  left: 50%;
  top: 50%;
  padding: @header-padding;
  width: @content-width - (@header-padding * 2);
  height: @header-height;
  margin-left: -(@content-width / 2);
  margin-top: -(@content-height / 2) - (@header-height);
  text-align: center;
  border-bottom: 1px solid #eee;
  z-index: 1;

  #headerText {
    .debugyellow;
    width: 100%;
    text-align: center;
    margin-top: 1px;
    font-size: 59px;
    font-weight: lighter;
    /* For text that is skewed the same amount as the Online logo:
    - more precise than italic, the Online logo is skewered exactly 15 degrees */
    /*-webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);*/
  }

  #notification {
    position: absolute;
    left: 140px;
    top: 10px;
    text-align: center;
    width: 480px;
    padding: 4px 20px 2px 13px;
    background: #FFFF99;
    font-size: 59px;
    /*font-weight: bold;*/
    /* more precise than italic, the Online logo is skewered exactly 15 degrees */
    /*-webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);*/
    color: white;
    /*box-shadow: 0 0 13px @background-dark, 0 0 20px @background-dark, 0 0 40px @background-dark;*/
    box-shadow:
      0 0 13px White,
      0 0 20px White,
      0 0 40px White,
      0 0 60px White;
    border: 1px solid #FFCC99;
    border-radius: 27px;
    display: none;
    .heart {
      color: #ff44f8;
    }
    .saved {
      color: #ff44f8;
      /*color: #FFFEA8;*/
    }
  }
}

/* all the options, main content */

#container {
  .debuglime;
  position: fixed;
  left: 50%;
  top: 50%;
  width: @content-width;
  height: @content-height;
  margin-left: -(@content-width / 2);
  margin-top: -(@content-height / 2) + (@header-height / 2);
  z-index: 10;

  .side {
    float: left;
    z-index: 20;
    padding-left: 13px;
    font-size: 15px;
    white-space: nowrap;
  }

  #left {
    .debugyellow;
    width: 54%;
    padding-top: 7px;
  }

  #right {
    .debugred;
    width: 42%;
    /*padding-top: 12px;*/
    padding-top: 7px;
  }
}

/* an option item */

.item {
  .debuglime;
  z-index: 2;
  padding-bottom: 15px;
  clear: both;
  -webkit-transition: all .2s ease-out;

  /* for icon images */
  .icon {
    width: 20px;
    height: 20px;
    position: relative;
    margin: 0;
    top: 4px;
    -webkit-filter: drop-shadow(0 0 4px black);
    filter: drop-shadow(0 0 4px black);
  }
  #officeStatusOverlay {
    pointer-events: none;
    position: relative;
    width: 20px;
    height: 20px;
    top: -39px;
    right: 63px;
  }
  /* for logo images */
  .logo {
    box-shadow: 0 0 13px 0 #333;
    margin: 7px 0 0 7px;
  }
  /* for regular size images */
  .image {
    box-shadow: 0 0 7px 0 black;
    margin: 7px 0 0 23px;
    border-radius: 5px;
  }

  input {
    box-shadow: 0 0 15px #333;
    cursor: pointer;
  }

  input#showAffiliation1 {
    opacity: 0;
    /* Turning off news feed is not allowed since it would
    turn off the primary purpose of Online Notifier. Don't
    show the checkbox, it's disabled anyway. */
  }

  label {
    cursor: pointer;
  }

  &:hover {
    text-shadow:
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #011b36;
  }

  /* the affiliation option in particular */

  #affiliationBox {
    width: 353px;
    height: 47px;
    border-top: 1px solid white;
    border-bottom: 1px solid #7a7a7a;
    border-radius: 4px;
    background: #e6e5e5; /* Old browsers */
    background: -webkit-linear-gradient(top, #e6e5e5 0%,#cececf 100%); /* Chrome10+,Safari5.1+,Opera15+ */
    background: linear-gradient(to bottom, #e6e5e5 0%, #cececf 100%); /* W3C */
    padding: 5px 11px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    #affiliationSymbol {
      .debugred;
      float: left;
      white-space: nowrap;
      cursor: pointer;
      width: 59px;
      margin: -7px 5px -7px -11px;
      border-right: 1px solid #aaa;
      background-position: center center;
      background-size: 59px 59px;
      background-repeat: no-repeat;
      background-image: url(../org/online/symbol.png); /* is switched for affiliation logo */
    }
    .row {
      .debugred;
      float: right;
      width: 293px;
      color: black;
      text-shadow: 0 0 0 black;
      select {
        position: relative;
      }
      input {
        box-shadow: 0 0 0 black;
      }
    }
    #topRow {
    }
    #bottomRow {
      font-size: 13px;
      margin-top: 4px;
      select {
        top: -4px;
      }
    }
    #affiliationKey1 {
      .debugred;
      display: inline-block;
      float: left;
      border: 1px solid #7a7a7a;
      position: relative;
      margin-top: 3px;
      white-space: nowrap;
      width: 156px;
    }
    #affiliationPalette {
      .debugred;
      display: inline-block;
      float: right;
      border: 1px solid #7a7a7a;
      position: relative;
      margin-top: 3px;
      white-space: nowrap;
      width: 128px;
    }
    #affiliationKey2 {
      .debugred;
      display: inline-block;
      border: 1px solid #7a7a7a;
      float: right;
      position: relative;
      margin-top: 3px;
      white-space: nowrap;
      width: 128px;
    }
  }

  /* the cantina option in particular */

  #cantinaBox {
    width: 352px;
    overflow: hidden;
    border-top: 1px solid white;
    border-bottom: 1px solid #7a7a7a;
    border-radius: 4px;
    background: #e6e5e5; /* Old browsers */
    background: -webkit-linear-gradient(top, #e6e5e5 0%,#cececf 100%); /* Chrome10+,Safari5.1+,Opera15+ */
    background: linear-gradient(to bottom, #e6e5e5 0%, #cececf 100%); /* W3C */
    padding: 4px 11px;
    white-space: nowrap;
    word-wrap: break-word;
    select {
      .debugred;
      float: left;
      border: 1px solid #8d8d8d;
      position: relative;
      margin-top: 3px;
      white-space: nowrap;
      width: 106px;
    }
    #cantinaLogo {
      .debugred;
      float: left;
      white-space: nowrap;
      width: 116px;
      margin: 0 11px;
    }
  }

  /* the bus option in particular */

  #busBox {
    width: 353px;
    overflow: hidden;
    border-top: 1px solid white;
    border-bottom: 1px solid #7a7a7a;
    border-radius: 4px;
    background: #e6e5e5; /* Old browsers */
    background: -webkit-linear-gradient(top, #e6e5e5 0%,#cececf 100%); /* Chrome10+,Safari5.1+,Opera15+ */
    background: linear-gradient(to bottom, #e6e5e5 0%, #cececf 100%); /* W3C */
    padding: 8px 11px;
    white-space: nowrap;
    word-wrap: break-word;

    .busStop {
      float: left;
      white-space: nowrap;
      input {
        width: 136px;
        box-shadow: 0 0 0 black;
      }
      select {
        z-index: 10; /* allows the down-arrow to be painted behind this */
        position: relative; /* allows the down-arrow to be painted behind this */
        width: 141px;
      }
      .lines {
        z-index: 10; /* allows the down-arrow to be painted behind this */
        position: relative; /* allows the down-arrow to be painted behind this */
        display: none;
        width: 128px;
        margin-top: 1px;
        border-top: 1px solid white;
        box-shadow: 0 1px 2px #888;
        border-radius: 4px;
        background: -webkit-linear-gradient(top, #e8e8e8 0%,#c0c0c0 100%); /* Chrome10+,Safari5.1+,Opera15+ */
        background: linear-gradient(to bottom, #e8e8e8 0%,#c0c0c0 100%); /* W3C */
        padding: 2px 7px 1px 7px;
        text-align: left;
        font-size: 12px;
        text-shadow: 0 0 0 white; /* resets inhertied value from parent element */

        table {
          .debugred;
          width: 100%;
          table-layout: fixed;
          text-align: center;
          td {
            .debugyellow;
            padding: 1px 0;
          }
        }
        .active {
          cursor: pointer;
          color: black;
          &:hover {
            font-weight: bold;
          }
        }
        .inactive {
          cursor: pointer;
          color: gray;
          &:hover {
            font-weight: bold;
          }
        }
        .error {
          color: black;
          text-align: center;
          font-size: 12px;
        }
        .retry {
          color: black;
          text-align: center;
          font-size: 12px;
          text-decoration: underline;
          cursor: pointer;
        }
        .loadingLeft {
          position: relative;
          width: 80px;
          -webkit-transform: scaleX(-1);
        }
        .loadingRight {
          position: relative;
          width: 80px;
        }
      }
    }
    #busLogo {
      .debugred;
      position: relative; /* allows the down-arrow to be painted behind this */
      z-index: 10; /* allows the down-arrow to be painted behind this */
      float: left;
      white-space: nowrap;
      width: 45px;
      margin: 0 11px;
    }
    #arrowDown {
      position: relative; /* paint behind other stuff */
      z-index: 2;  /* paint behind other stuff */
      left: -180px;
      top: 39px;
      img {
        width: 12px;
      }
    }
  }

  /* the infoscreen option in particular */

  #infoscreenPreview {
    display: none;
    overflow: hidden;
    margin-left: 93px;
    // The page needs to be a lot larger...
    height: 6400px;
    width: 4700px;
    // ...because in reality it's scaled down
    zoom: 0.25;
    -webkit-transform: scale(0.25);
    -webkit-transform-origin: 0 0;
  }
}

/* Suggestions for bus stops */

#busSuggestions {
  .debuglime;
  position: fixed;
  vertical-align: middle;
  width: 200px;
  overflow: hidden;
  vertical-align: middle;
  display: table-cell;
  padding: 13px;
  top: 0;
  left: 0;
  bottom: 0;
  
  .suggestion {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 1px;
    -webkit-transition: all .1s ease-out;
    &:hover {
      cursor: pointer;
      text-shadow:
        0 0 13px #bbb,
        0 0 20px #bbb,
        0 0 27px #fff,
        0 0 53px #fff,
        0 0 20px #fff,
        0 0 13px #fff,
        0 0 27px #fff;
    }
    .matched_character {
      font-weight: bold;
    }
  }
  .correct {
    color: white;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    text-shadow:
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #011b36,
      0 0 40px #011b36;
  }
}

/* logo with link in the top right corner */

/*#logolink {
  position: fixed;
  top: 13px;
  right: 13px;
  #logo {
    .debugyellow;
    width: 160px;
  }
}*/

/* Debug toolbox in the the top right corner, only shown in debug mode */

#debugLinks {
  display: none;
  position: fixed;
  top: 13px;
  right: 13px;
  opacity: .05;
  text-align: right;
  -webkit-transition: all .1s ease-out;
  button {
    /* nothing here yet */
  }
  &:hover {
    opacity: 1;
  }
}

/* The pageflip at the bottom */

#pageflip {
  width: 185px;
  height: 98px;
  font: bold 11px monospace;
  text-shadow:
    0 0 5px #68bf70,
    0 0 10px #60b95e,
    0 0 15px #368f2c,
    0 0 20px #25892e,
    0 0 30px #183e1a;

  #pfBackground {
    left: 0;
    bottom: 0;
    width: 185px;
    height: 98px;
    background: transparent url('/img/pageflip-medium-background.png') no-repeat left bottom;
  }
  #pfText {
    left: 5px;
    bottom: 5px;
    width: 170px;
    height: 36px;
  }
  #pfFlip {
    left: 0;
    bottom: 0;
    width: 185px;
    height: 98px;
    background: transparent url('/img/pageflip-medium.png') no-repeat left bottom;
  }
  #pfLink {
    left: 5px;
    bottom: 5px;
    width: 170px;
    height: 36px;
  }
}

/* Google +1 button */

#plusonebutton {
  position: fixed;
  right: 3px;
  bottom: 5px;
  width: 170px;
  z-index: 1;
}

/* "Popup is here"-bubble */

#popupHere {
  .debugred;
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 13px;
  background: white;
  border-radius: 27px;
  width: 240px;
  box-shadow:
    0 0 20px white,
    0 0 33px white,
    0 0 60px white;
  font-family: helvetica;
  color: #333;
  opacity: .9;
  z-index: 1000;
  .icon {
    .debugred;
    position: relative;
    display: inline;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 4px;
  }
  .arrow {
    .debugred;
    position: relative;
    display: inline;
    float: right;
    width: 33px;
    height: 25px;
    top: -5px;
    left: -15px;
  }
  .text {
    .debugred;
    position: relative;
    display: inline;
    float: left;
    font-size: 19px;
    top: 3px;
  }
  .subtext {
    .debugred;
    position: relative;
    display: inline;
    float: left;
    font-size: 12px;
  }
}
