.debugContainer {
  border: 0px solid #00ffff;
}
.debugBox {
  border: 0px solid #ff0000;
}
.debugText {
  border: 0px solid #ffff00;
}
.debugElement {
  border: 0px solid #00ff00;
}
.fullbox {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
.title {
  border: 0px solid #ffff00;
  color: NavajoWhite;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
.title .unread {
  color: white;
}
.emphasized {
  border: 0px solid #ffff00;
  font-style: italic;
}
body {
  background: #001429;
  color: white;
  font-family: Helvetica;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#background {
  /* using a div because the background needs to be resized if
  the display is really big (1500px-2000px in width or height) */

  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* This container keeps the content centered */
#container {
  border: 0px solid #00ffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 10;
}
#container #office {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #todays {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #todays #schedule {
  border: 0px solid #ff0000;
  float: left;
  width: 48%;
}
#container #todays #schedule #servant {
  border: 0px solid #ffff00;
  font-style: italic;
  margin-bottom: 4px;
}
#container #todays #coffee {
  border: 0px solid #ff0000;
  float: right;
  width: 50%;
  /* when the right floating box is half the width it'll appear they're both aligned to 50% */

}
#container #todays #coffee #pots {
  border: 0px solid #ffff00;
  font-style: italic;
  margin-bottom: 4px;
}
#container #cantinas {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #cantinas .hours {
  border: 0px solid #ffff00;
  font-style: italic;
  margin-bottom: 4px;
  -webkit-transition: text-shadow 0.15s ease-out 0s;
}
#container #cantinas #left {
  border: 0px solid #ff0000;
  position: relative;
  float: left;
  width: 48%;
}
#container #cantinas #right {
  border: 0px solid #ff0000;
  position: relative;
  float: right;
  width: 50%;
  /* when the right floating box is half the width it'll appear they're both aligned to 50% */

}
#container #cantinas #dinnerbox {
  border: 0px solid #00ff00;
}
#container #cantinas li {
  border: 0px solid #ffff00;
  position: relative;
  width: 95%;
  list-style-type: none;
  -webkit-transition: text-shadow 0.15s ease-out 0s;
}
#container #cantinas li.message {
  /*font-style: italic;*/

}
#container #bus {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: #111;
  width: 110%;
  margin-left: -5%;
}
#container #bus .name {
  margin-bottom: 5px;
  text-decoration: underline;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container #bus #firstBus {
  border: 0px solid #ff0000;
  position: relative;
  float: left;
  text-align: right;
  padding-top: 13px;
  width: 40%;
}
#container #bus #secondBus {
  border: 0px solid #ff0000;
  position: relative;
  float: left;
  text-align: left;
  padding-top: 13px;
  width: 40%;
}
#container #bus .loadingLeft {
  position: relative;
  z-index: 100;
  -webkit-transform: scaleX(-1);
}
#container #bus .loadingRight {
  position: relative;
  z-index: 100;
}
#container #bus .first,
#container #bus .second,
#container #bus .third,
#container #bus .fourth,
#container #bus .fifth,
#container #bus .sixth,
#container #bus .seventh,
#container #bus .eighth,
#container #bus .nineth,
#container #bus .tenth {
  border: 0px solid #ffff00;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container #bus .time {
  font-weight: bold;
}
#container #bus .error {
  font-style: italic;
}
#container #bus #middle {
  border: 0px solid #ff0000;
  position: relative;
  float: left;
  text-align: center;
  height: 100%;
}
#container #news {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #news .post {
  border: 0px solid #ff0000;
  position: relative;
  clear: both;
}
#container #news .post .item {
  border: 0px solid #00ff00;
  text-overflow: ellipsis;
  overflow: hidden;
}
#container #news .post .item .author {
  display: inline;
  position: relative;
  font-style: italic;
}
#container #news .post .item img {
  float: left;
  background: snow;
}
#container #news .unread {
  text-shadow: 0 0 10px white,
        0 0 15px white;
}
/* This file contains popup-additions to common.less */
/* Nothing here yet */
.title {
  font-size: 12px;
  margin-top: 13px;
  margin-bottom: 4px;
}
.emphasized {
  margin-bottom: 4px;
}
/* 60fps scrolling, thecssninja.com/javascript/pointer-events-60fps */
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
body {
  width: 532px;
  height: 600px;
  font-size: 12px;
  line-height: 14px;
}
#tips {
  position: fixed;
  background-color: Snow;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 1px solid Grey;
  border-radius: 4px;
  padding: 27px;
  z-index: 100;
  opacity: .95;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 0 20px black;
}
#tips .text {
  border: 0px solid #ffff00;
  color: black;
  font-size: 12px;
}
#tips .text .clicktoclose {
  border: 0px solid #ffff00;
  color: #aaa;
  text-align: right;
  font-style: italic;
  margin-top: -20px;
}
#tips .text .big {
  font-size: 17px;
}
#tips .text .url {
  display: inline;
  color: grey;
  font-style: italic;
}
#tips .text a {
  outline: none;
  text-decoration: underline;
  color: DarkBlue;
}
#background {
  background-image: url('/img/background-popup.png');
}
/* This container keeps the content centered */
#container {
  overflow-y: auto;
  padding: 20px;
}
#container #header {
  border: 0px solid #00ffff;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 47px;
  padding-bottom: 5px;
}
#container #header #buttons {
  border: 0px solid #ff0000;
  width: 213px;
  float: left;
}
#container #header #buttons .popupbutton {
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-out;
}
#container #header #buttons .popupbutton:hover {
  box-shadow: inset 0 0 7px #777,
          0 0 13px #bbb,
          0 0 20px #bbb,
          0 0 27px #bbb;
}
#container #header #buttons #chatterIcon {
  pointer-events: none;
  position: absolute;
  cursor: pointer;
  left: 122px;
  top: 26px;
  z-index: 50;
  width: 16px;
  height: 16px;
}
#container #header #buttontext {
  border: 0px solid #ffff00;
  display: none;
  position: relative;
  float: left;
  width: 213px;
  font-weight: bold;
  text-shadow: 0 0 13px white,
        0 0 20px white,
        0 0 27px white;
}
#container #header #logo {
  border: 0px solid #00ff00;
  float: right;
  cursor: pointer;
  max-width: 187px;
  max-height: 67px;
}
#container #todays #schedule #servant {
  border: 0px solid #ffff00;
  font-style: italic;
  margin-bottom: 4px;
}
#container #todays #coffee #pots {
  border: 0px solid #ffff00;
  font-style: italic;
  margin-bottom: 4px;
}
#container #cantinas .hours {
  border: 0px solid #ffff00;
  font-style: italic;
  margin-bottom: 4px;
  cursor: pointer;
}
#container #cantinas .hours:hover {
  text-shadow: 0 0 10px white,
        0 0 15px white;
}
#container #cantinas li {
  cursor: pointer;
}
#container #cantinas li:hover {
  text-shadow: 0 0 10px white,
        0 0 15px white;
}
#container #bus {
  top: 16px;
  margin-bottom: 20px;
  padding-bottom: 9px;
  box-shadow: 0 0 20px #ccc;
}
#container #bus #realtime {
  border: 0px solid #ff0000;
  line-height: 15px;
  height: 87px;
}
#container #bus #realtime .name {
  margin-bottom: 5px;
}
#container #bus #realtime .loadingLeft {
  width: 80px;
  bottom: 4px;
}
#container #bus #realtime .loadingRight {
  width: 80px;
  bottom: 4px;
}
#container #bus #realtime #middle {
  width: 18%;
}
#container #bus #realtime #middle #atbLogo {
  position: relative;
  left: -0.7px;
  margin: 15px auto;
  height: 61px;
  cursor: pointer;
}
#container #bus #oracle {
  border: 0px solid #ff0000;
  margin-left: 4.5%;
  width: 90%;
  position: relative;
  top: -1px;
}
#container #bus #oracle #name {
  margin-right: 7px;
}
#container #bus #oracle #question {
  border: 0px solid #ffff00;
  width: 88%;
  background-color: transparent;
  color: NavajoWhite;
  display: inline;
  font-family: Helvetica;
  font-size: 12px;
  outline: none;
}
#container #bus #oracle #answer {
  border: 0px solid #ffff00;
  padding: 0 1px;
}
#container #bus #oracle #answer a {
  color: white;
}
#container #news {
  /* #full for using a single column */

  /* #left and #right for using double columns */

}
#container #news #full {
  position: relative;
  width: 100%;
  float: left;
}
#container #news #full img {
  float: left;
  width: 93px;
  max-height: 93px;
  margin: 0 7px 4px 0;
}
#container #news #left {
  position: relative;
  width: 45%;
  float: left;
}
#container #news #left img {
  float: right;
  margin: 0 0 4px 4px;
}
#container #news #right {
  position: relative;
  width: 50%;
  float: right;
}
#container #news #right .title {
  color: LightGrey;
}
#container #news #right img {
  float: right;
  margin: 0 0 4px 4px;
}
#container #news .post {
  margin-top: 13px;
}
#container #news .post .item {
  margin-top: -5px;
  min-height: 40px;
  cursor: pointer;
  margin-left: -7px;
  margin-right: -7px;
  padding: 7px;
  -webkit-transition: box-shadow 0.3s ease-out 0s;
}
#container #news .post .item:hover {
  box-shadow: inset 0 0 2px #bbb,
            0 0 13px white;
}
#container #news .post .item .title {
  margin-top: 0;
  /* overrides default value */

}
#container #news .post .item img {
  width: auto;
  height: auto;
  max-width: 80px;
  max-height: 80px;
  padding: 4px;
  box-shadow: 0 0 13px #bbb;
}
#container #news .unread {
  font-size: 11px;
}
