/* DEBUG variables, set to colors instead of
 * transparents for debug borders around everything
 */

/*
@debugRed: red;
@debugCyan: cyan;
@debugLime: lime;
@debugYellow: yellow;
/*/
@debugRed: transparent;
@debugCyan: transparent;
@debugLime: transparent;
@debugYellow: transparent;
//*/

/* Debugging, use bright colors that stand out */

.debugContainer {border: 1px solid @debugCyan;} /* Outer containers */
.debugBox {border: 1px solid @debugRed;} /* Inner containers */
.debugText {border: 1px solid @debugYellow;} /* Text elements */
.debugElement {border: 1px solid @debugLime;} /* Other elements */

/* Vars */

/* Nothing here yet */

/* Mixins */

.fullbox {
  .debugContainer;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}

.title {
  .debugText;
  color: NavajoWhite;
  display: block;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 4px;
  .unread {
    color: white;
  }
}

.subtitle {
  .debugText;
  font-weight: bold;
  margin-top: 5px;
}

.emphasized {
  .debugText;
  font-style: italic;
}

/* Rules */

body {
  color: white;
  font-family: Helvetica;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  width: 532px; // max 800px
  height: 600px; // max 600px
  font-size: 12px;
  line-height: 14px;
}

div#tips {
  position: fixed;
  background-color: Snow;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 35px;
  z-index: 100;
  opacity: .97;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow:
    0 0 20px black;
  .text {
    .debugText;
    color: black;
    font-size: 12px;
    line-height: 16px;
    .clicktoclose {
      .debugText;
      color: #aaa;
      text-align: right;
      font-style: italic;
      margin-top: -20px;
    }
    h1 {
      font-size: 24px;
      font-weight: 200;
      padding-top: 10px;
    }
    h2 {
      font-size: 17px;
      font-weight: 200;
    }
    h3, h4, h5, h6 {
      font-weight: 600;
    }
    .url {
      display: inline;
      color: grey;
      font-style: italic;
    }
    a {
      outline: none;
      text-decoration: underline;
      color: DarkBlue;
    }
  }
}

#background {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  /* Using a div because the background is color shifted by the palette CSS files */
  background-image: url('/img/background-popup.png');
}

#specialNews {
  .fullbox;
  position: relative;
  background-color: bisque;
  color: #444;
  height: 18px;
  padding-top: 4px;
  padding-left: 20px;
  box-shadow: 0px 4px 10px #444;
  display: none;
  a {
    color: #444;
  }
  img#closeSpecialNews {
    position: relative;
    top: 1px;
    right: -18px;
    width: 10px;
    height: auto;
    cursor: pointer;
  }
}

/* This container keeps the content centered */

#container {
  .debugContainer;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;

  #header {
    .fullbox;
    min-height: 47px;
    padding-bottom: 5px;

    #buttons {
      .debugBox;
      width: 260px;
      float: left;

      .popupbutton {
        height: 27px;
        width: auto;
        float: left;
        border-radius: 5px;
        margin-right: 12px;
        cursor: pointer;
        border: 1px solid transparent;
        -webkit-transition: box-shadow .2s ease-out;
      }
      .popupbutton:hover {
        border: 1px solid white;
      }
      .popupbutton.glow {
        /* Edit button glows discreetly while toggled */
        -webkit-animation-name: editButtonPulse;
        -webkit-animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;
      }
      #chatterButton {
        /* Hiding Slack button by default */
        display: none;
      }
    }

    #buttontext {
      .debugText;
      display: none;
      position: relative;
      float: left;
      width: 213px;
      font-weight: bold;
    }
    #logo {
      .debugElement;
      float: right;
      cursor: pointer;
      max-width: 187px;
      max-height: 67px;
    }
  }

  #todays {
    .fullbox;
    
    #schedule {
      .debugBox;
      float: left;
      width: 47.5%;

      #servant {
        .emphasized;
      }
      #meetings {
        margin-top: 5px;
      }
      #hackerspace {
        margin-top: 4px;
        span {
          font-weight: bold;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    #coffee {
      .debugBox;
      float: right;
      width: 47.5%;
      #pots {
        .emphasized;
      }
      #age {
        margin-top: 5px;
      }
    }
  }

  #cantinas {
    .fullbox;

    .hours {
      .emphasized;
      cursor: pointer;
    }
    .hours:hover {
      &:hover {
        text-decoration: underline;
      }
    }
    .first {
      .debugBox;
      position: relative;
      float: left;
      width: 47.5%;
    }
    .second {
      .debugBox;
      position: relative;
      float: right;
      width: 47.5%;
    }
    .mealBox {
      .debugElement;
    }
    li {
      .debugText;
      position: relative;
      width: 95%;
      list-style-type: none;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    li.message {
      /*font-style: italic;*/
    }
    .loadingLeft {
      width: 80px;
      bottom: 4px;
    }
  }

  #bus {
    .fullbox;
    position: relative;
    background-color: #111;
    background-clip: padding-box; /* makes the background color only show on the inside of the border */
    width: 110%;
    top: 16px;
    margin-left: -5%;
    margin-bottom: 20px;
    padding-bottom: 10px;

    // This is typically tweaked by palettes, be careful when changing it
    box-shadow: 0 0 15px #aaa;

    #realtime {
      .debugBox;
      line-height: 13px;
      overflow-y: auto;
      
      .first, .second, .third, .error {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .name {
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 7px;
      }
      .loadingLeft {
        position: relative;
        z-index: 100;
        -webkit-transform: scaleX(-1);
        width: 80px;
        bottom: 4px;
      }
      .loadingRight {
        position: relative;
        z-index: 100;
        width: 80px;
        bottom: 4px;
      }
      .first, .second, .third, .fourth, .fifth, .sixth, .seventh, .eighth, .nineth, .tenth {
        .debugText;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .time {
        /* nothing here yet */
      }
      .error {
        font-style: italic;
      }
      #firstBus {
        .debugBox;
        position: relative;
        float: left;
        text-align: right;
        padding-top: 14px;
        width: 41%;
      }
      #secondBus {
        .debugBox;
        position: relative;
        float: left;
        text-align: left;
        padding-top: 14px;
        width: 41%;
      }
      #middle {
        .debugBox;
        position: relative;
        float: left;
        text-align: center;
        width: 16%;
        #atbLogo {
          position: relative;
          left: -.7px;
          margin: 15px auto 10px auto;
          height: 61px;
          cursor: pointer;
          border-radius: 3px;
          border-top-left-radius: 16px;
        }
      }
    }

    #oracle {
      .debugBox;
      margin-left: 4.5%;
      width: 90%;
      position: relative;
      top: -1px;
  
      #name {
        margin-right: 7px;
      }
      #question {
        .debugText;
        width: 87%;
        background-color: rgba(115,115,115,0.20);
        border-radius: 4px;
        color: NavajoWhite;
        display: inline;
        font-family: Helvetica;
        font-size: 12px;
        outline: none;
      }
      #answer {
        .debugText;
        position: relative;
        left: -2px;
        padding: 0 1px;
        a {
          color: white;
        }
      }
    }
  }

  #news {
    .fullbox;

    /* #full for using a single column */
    #full {
      position: relative;
      width: 100%;
      float: left;

      >.title {
        display: none; /* no need for affiliation title when only one is in use */
      }
      article {
        img.regular {
          float: left;
          width: 33%;
          min-height: 80px;
          max-height: 200px;
          margin: 0 7px 0 0;
        }
      }
    }

    #left, #right {
      position: relative;
      width: 47.5%;
      >.title {
        margin-bottom: -5px;
      }
      >.title.regular {
        color: LightGrey;
      }
    }

    /* #left and #right for using double columns */
    #left {
      float: left;
    }

    #right {
      float: right;
    }

    /* For each news article */
    article {
      .debugBox;
      position: relative;
      clear: both;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-top: 13px;
      min-height: 40px;
      cursor: pointer;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      &:hover {
        background-color: rgba(255, 255, 255, .1);
      }
      
      .title {
        position: relative;
        margin-top: 0; /* overrides default value */
      }
      .title.regular {

      }
      .title.flashy {
        position: absolute;
        width: 92%;
        color: white;
        font-family: Helvetica;
        font-weight: lighter;
        text-transform: none;
        text-shadow:
          0 0 5px #333,
          0 0 3px #333,
          -1px -1px 1px #333,
          -1px 1px 1px #333,
          1px -1px 1px #333,
          1px 1px 1px #333;
        font-size: 15px;
        line-height: 18px;
        top: 7px;
        left: 8px;
      }

      .author {
        display: inline;
        position: relative;
        font-style: italic;
      }
      .author.regular {

      }
      .author.flashy {
        position: absolute;
        width: 92%;
        color: white;
        font-family: Helvetica;
        font-weight: lighter;
        text-shadow:
          0 0 5px #333,
          0 0 3px #333,
          -1px -1px 1px #333,
          -1px 1px 1px #333,
          1px -1px 1px #333,
          1px 1px 1px #333;
        font-size: 12px;
        bottom: 8px;
        left: 8px;
      }

      img {
        width: 100%;
        height: auto;
        background: snow;
        min-height: 80px;
        max-height: 250px;
        padding: 3px;
        border-radius: 3px;
      }
      img.regular {
        float: right;
        width: 33%;
        margin: 2px 0 0 4px;
      }
      img.flashy {
        float: left;
        width: 97%;
        margin: 0;
      }
    }
    .unread {
      font-size: 11px;
      text-shadow:
        0 0 5px black,
        -1px -1px 1px #333,
        -1px 1px 1px #333,
        1px -1px 1px #333,
        1px 1px 1px #333;
    }
  }

}

/* Rules for the options */

div.options {
  /* All options are hidden by default, they slide into view when they are needed */
  display: none;

  select, input, div {
    margin-top: 5px;
    position: relative;
  }
  input, label {
    cursor: pointer;
  }
  select {
    width: 100%;
  }
  /* Note: <input>s and <label>s are wrapped in a div to get their margins */

  /* Special cases */

  div#statusOptions {
    position: relative;
    top: -3px;
    img.statusIcon {
      width: 20px;
      height: 20px;
      position: relative;
      top: 5px;
      -webkit-filter: drop-shadow(0 0 4px black);
      filter: drop-shadow(0 0 4px black);
    }
  }

  div#leftNewsOptionTitle {
    margin-top: 9px;
    margin-bottom: 2px;
  }
}

div#bigOptions {
  position: relative;
  display: none;
  top: 3px;
  float: left;
  width: 150px;
  font-size: 24px;
  line-height: 24px;

  input, label {
    position: relative;
    cursor: pointer;
  }
  input {
    top: -4px;
    margin-left: 10px;
  }
}

div#bus {
  input {
    width: 107px;
  }
  select {
    width: 75px;
    margin-left: 7px;
  }
  div#secondBus div.options select {
    margin-left: 4px; /* Hack that's needed for an unidentified reason, otherwise select fields on left and right side have differentl margins-ish */
  }
  div#firstBus {
    input, select, div.lines {
      float: right;
    }
    div.options {
      text-align: right;
    }
  }
  div.secondBus {
    input, select {
      float: left;
    }
  }
  div.lines {
    position: relative;
    margin-top: 7px;
    margin-bottom: 10px;
    display: block;
    width: 181px;
    border-top: 1px solid white;
    box-shadow: 0 1px 2px #888;
    border-radius: 4px;
    background-color: white;
    padding: 2px 7px 1px 7px;
    text-align: left;
    font-size: 12px;
    text-shadow: 0 0 0 white; /* resets inhertied value from parent element */

    table {
      .debugBox;
      width: 100%;
      table-layout: fixed;
      text-align: center;
      td {
        .debugText;
        padding: 1px 0;
      }
    }
    .active {
      cursor: pointer;
      color: black;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
    .inactive {
      cursor: pointer;
      color: gray;
      &:hover {
        text-decoration: underline;
      }
    }
    .error {
      color: black;
      text-align: center;
      font-size: 12px;
    }
    .retry {
      color: black;
      text-align: center;
      font-size: 12px;
      text-decoration: underline;
      cursor: pointer;
    }
    .loadingLeft {
      position: relative;
      width: 80px;
      -webkit-transform: scaleX(-1);
    }
    .loadingRight {
      position: relative;
      width: 80px;
    }
  }
}

/* Suggestions for bus stops */

div#busSuggestions {
  .debugContainer;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  display: none; /* Will slide down when needed */

  overflow-x: hidden;
  overflow-y: auto;
  padding: 15px;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  background-color: snow;
  
  div#suggestionTitle {
    .debugText;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: left;
    color: #444;
  }
  .suggestion {
    color: #444;
    line-height: 1.5;
    letter-spacing: 1px;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    .matched_character {
      font-weight: bold;
    }
  }
  .correct {
    color: black;
    font-weight: bold;
    line-height: 1.5;
  }
}

/* Debug affiliation in the top of the affiliation selection lists */

optgroup.debugAffiliation {
  display: none;
}

/* Animations */

@-webkit-keyframes editButtonPulse {
  from { border: 1px solid white; }
  50% { border: 1px solid transparent; }
  to { border: 1px solid white; }
}
