/* DEBUG variables, set to colors instead of
 * transparents for debug borders around everything
 */
/*
@debugRed: red;
@debugCyan: cyan;
@debugLime: lime;
@debugYellow: yellow;
/*/
/* Debugging, use bright colors that stand out */
.debugContainer {
  border: 1px solid transparent;
}
/* Outer containers */
.debugBox {
  border: 1px solid transparent;
}
/* Inner containers */
.debugText {
  border: 1px solid transparent;
}
/* Text elements */
.debugElement {
  border: 1px solid transparent;
}
/* Other elements */
/* Vars */
/* Nothing here yet */
/* Mixins */
.fullbox {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
.title {
  border: 1px solid transparent;
  color: NavajoWhite;
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 4px;
}
.title .unread {
  color: white;
}
.emphasized {
  border: 1px solid transparent;
  font-style: italic;
  margin-bottom: 4px;
}
@-webkit-keyframes editButtonPulse {
  from {
    border: 1px solid white;
  }
  50% {
    border: 1px solid transparent;
  }
  to {
    border: 1px solid white;
  }
}
/* Rules */
body {
  color: white;
  font-family: Helvetica;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  width: 532px;
  height: 600px;
  font-size: 12px;
  line-height: 14px;
}
div#tips {
  position: fixed;
  background-color: Snow;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 35px;
  z-index: 100;
  opacity: .97;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 0 20px black;
}
div#tips .text {
  border: 1px solid transparent;
  color: black;
  font-size: 12px;
  line-height: 16px;
}
div#tips .text .clicktoclose {
  border: 1px solid transparent;
  color: #aaa;
  text-align: right;
  font-style: italic;
  margin-top: -20px;
}
div#tips .text h1 {
  font-size: 24px;
  font-weight: 200;
  padding-top: 10px;
}
div#tips .text h2 {
  font-size: 17px;
  font-weight: 200;
}
div#tips .text h3,
div#tips .text h4,
div#tips .text h5,
div#tips .text h6 {
  font-weight: 600;
}
div#tips .text .url {
  display: inline;
  color: grey;
  font-style: italic;
}
div#tips .text a {
  outline: none;
  text-decoration: underline;
  color: DarkBlue;
}
#background {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  /* Using a div because the background is color shifted by the palette CSS files */
  background-image: url('/img/background-popup.png');
}
#specialNews {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: bisque;
  color: #444;
  height: 18px;
  padding-top: 4px;
  padding-left: 20px;
  box-shadow: 0px 4px 10px #444;
  display: none;
}
#specialNews a {
  color: #444;
}
#specialNews img#closeSpecialNews {
  position: relative;
  top: 1px;
  right: -18px;
  width: 10px;
  height: auto;
  cursor: pointer;
}
/* This container keeps the content centered */
#container {
  border: 1px solid transparent;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}
#container #header {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 47px;
  padding-bottom: 5px;
}
#container #header #buttons {
  border: 1px solid transparent;
  width: 260px;
  float: left;
}
#container #header #buttons .popupbutton {
  height: 27px;
  width: auto;
  float: left;
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: box-shadow 0.2s ease-out;
}
#container #header #buttons .popupbutton:hover {
  border: 1px solid white;
}
#container #header #buttons .popupbutton.glow {
  /* Edit button glows discreetly while toggled */
  -webkit-animation-name: editButtonPulse;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}
#container #header #buttons #chatterButton {
  /* Hiding Slack button by default */
  display: none;
}
#container #header #buttontext {
  border: 1px solid transparent;
  display: none;
  position: relative;
  float: left;
  width: 213px;
  font-weight: bold;
}
#container #header #logo {
  border: 1px solid transparent;
  float: right;
  cursor: pointer;
  max-width: 187px;
  max-height: 67px;
}
#container #todays {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #todays #schedule {
  border: 1px solid transparent;
  float: left;
  width: 47.5%;
}
#container #todays #schedule #servant {
  border: 1px solid transparent;
  font-style: italic;
  margin-bottom: 4px;
}
#container #todays #schedule #hackerspace {
  margin-top: 4px;
}
#container #todays #schedule #hackerspace span {
  font-weight: bold;
  cursor: pointer;
}
#container #todays #schedule #hackerspace span:hover {
  text-decoration: underline;
}
#container #todays #coffee {
  border: 1px solid transparent;
  float: right;
  width: 47.5%;
}
#container #todays #coffee #pots {
  border: 1px solid transparent;
  font-style: italic;
  margin-bottom: 4px;
}
#container #cantinas {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #cantinas .hours {
  border: 1px solid transparent;
  font-style: italic;
  margin-bottom: 4px;
  cursor: pointer;
}
#container #cantinas .hours:hover:hover {
  text-decoration: underline;
}
#container #cantinas .first {
  border: 1px solid transparent;
  position: relative;
  float: left;
  width: 47.5%;
}
#container #cantinas .second {
  border: 1px solid transparent;
  position: relative;
  float: right;
  width: 47.5%;
}
#container #cantinas #dinnerbox {
  border: 1px solid transparent;
}
#container #cantinas li {
  border: 1px solid transparent;
  position: relative;
  width: 95%;
  list-style-type: none;
  cursor: pointer;
}
#container #cantinas li:hover {
  text-decoration: underline;
}
#container #cantinas li.message {
  /*font-style: italic;*/
}
#container #cantinas .loadingLeft {
  width: 80px;
  bottom: 4px;
}
#container #bus {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: #111;
  background-clip: padding-box;
  /* makes the background color only show on the inside of the border */
  width: 110%;
  top: 16px;
  margin-left: -5%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  box-shadow: 0 0 15px #aaa;
}
#container #bus #realtime {
  border: 1px solid transparent;
  line-height: 13px;
  height: 90px;
}
#container #bus #realtime .first,
#container #bus #realtime .second,
#container #bus #realtime .third,
#container #bus #realtime .error {
  cursor: pointer;
}
#container #bus #realtime .first:hover,
#container #bus #realtime .second:hover,
#container #bus #realtime .third:hover,
#container #bus #realtime .error:hover {
  text-decoration: underline;
}
#container #bus #realtime .name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 7px;
}
#container #bus #realtime .loadingLeft {
  position: relative;
  z-index: 100;
  -webkit-transform: scaleX(-1);
  width: 80px;
  bottom: 4px;
}
#container #bus #realtime .loadingRight {
  position: relative;
  z-index: 100;
  width: 80px;
  bottom: 4px;
}
#container #bus #realtime .first,
#container #bus #realtime .second,
#container #bus #realtime .third,
#container #bus #realtime .fourth,
#container #bus #realtime .fifth,
#container #bus #realtime .sixth,
#container #bus #realtime .seventh,
#container #bus #realtime .eighth,
#container #bus #realtime .nineth,
#container #bus #realtime .tenth {
  border: 1px solid transparent;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container #bus #realtime .time {
  /* nothing here yet */
}
#container #bus #realtime .error {
  font-style: italic;
}
#container #bus #realtime #firstBus {
  border: 1px solid transparent;
  position: relative;
  float: left;
  text-align: right;
  padding-top: 14px;
  width: 41%;
}
#container #bus #realtime #secondBus {
  border: 1px solid transparent;
  position: relative;
  float: left;
  text-align: left;
  padding-top: 14px;
  width: 41%;
}
#container #bus #realtime #middle {
  border: 1px solid transparent;
  position: relative;
  float: left;
  text-align: center;
  height: 100%;
  width: 16%;
}
#container #bus #realtime #middle #atbLogo {
  position: relative;
  left: -0.7px;
  margin: 15px auto;
  height: 61px;
  cursor: pointer;
  border-radius: 3px;
  border-top-left-radius: 16px;
}
#container #bus #oracle {
  border: 1px solid transparent;
  margin-left: 4.5%;
  width: 90%;
  position: relative;
  top: -1px;
}
#container #bus #oracle #name {
  margin-right: 7px;
}
#container #bus #oracle #question {
  border: 1px solid transparent;
  width: 87%;
  background-color: rgba(115, 115, 115, 0.2);
  border-radius: 4px;
  color: NavajoWhite;
  display: inline;
  font-family: Helvetica;
  font-size: 12px;
  outline: none;
}
#container #bus #oracle #answer {
  border: 1px solid transparent;
  position: relative;
  left: -2px;
  padding: 0 1px;
}
#container #bus #oracle #answer a {
  color: white;
}
#container #news {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  /* #full for using a single column */
  /* #left and #right for using double columns */
  /* For each news article */
}
#container #news #full {
  position: relative;
  width: 100%;
  float: left;
}
#container #news #full > .title {
  display: none;
  /* no need for affiliation title when only one is in use */
}
#container #news #full article img.regular {
  float: left;
  width: 33%;
  min-height: 80px;
  max-height: 200px;
  margin: 0 7px 0 0;
}
#container #news #left,
#container #news #right {
  position: relative;
  width: 47.5%;
}
#container #news #left > .title,
#container #news #right > .title {
  margin-bottom: -5px;
}
#container #news #left > .title.regular,
#container #news #right > .title.regular {
  color: LightGrey;
}
#container #news #left {
  float: left;
}
#container #news #right {
  float: right;
}
#container #news article {
  border: 1px solid transparent;
  position: relative;
  clear: both;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 13px;
  min-height: 40px;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#container #news article:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#container #news article .title {
  position: relative;
  margin-top: 0;
  /* overrides default value */
}
#container #news article .title.flashy {
  position: absolute;
  width: 92%;
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  text-transform: none;
  text-shadow: 0 0 5px #333333, 0 0 3px #333333, -1px -1px 1px #333333, -1px 1px 1px #333333, 1px -1px 1px #333333, 1px 1px 1px #333333;
  font-size: 15px;
  line-height: 18px;
  top: 7px;
  left: 8px;
}
#container #news article .author {
  display: inline;
  position: relative;
  font-style: italic;
}
#container #news article .author.flashy {
  position: absolute;
  width: 92%;
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  text-shadow: 0 0 5px #333333, 0 0 3px #333333, -1px -1px 1px #333333, -1px 1px 1px #333333, 1px -1px 1px #333333, 1px 1px 1px #333333;
  font-size: 12px;
  bottom: 8px;
  left: 8px;
}
#container #news article img {
  width: 100%;
  height: auto;
  background: snow;
  min-height: 80px;
  max-height: 250px;
  padding: 3px;
  border-radius: 3px;
}
#container #news article img.regular {
  float: right;
  width: 33%;
  margin: 2px 0 0 4px;
}
#container #news article img.flashy {
  float: left;
  width: 97%;
  margin: 0;
}
#container #news .unread {
  font-size: 11px;
  text-shadow: 0 0 5px black, -1px -1px 1px #333333, -1px 1px 1px #333333, 1px -1px 1px #333333, 1px 1px 1px #333333;
}
/* Rules for the options */
div.options {
  /* All options are hidden by default, they slide into view when they are needed */
  display: none;
  /* Special cases */
}
div.options input,
div.options label,
div.options select,
div.options div {
  margin-top: 5px;
  position: relative;
}
div.options label {
  /* Text to go with a checkbox / radio button */
  /* font-weight: bold; */
}
div.options div {
  /* Description of this option */
  margin: 9px 0px 2px 0px;
}
div.options div#statusOptions {
  position: relative;
  top: -3px;
}
div.options div#statusOptions img.statusIcon {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  -webkit-filter: drop-shadow(0 0 4px black);
  filter: drop-shadow(0 0 4px black);
}
div.options div#leftNewsOptionTitle {
  margin-top: 13px;
  margin-bottom: 2px;
}
div#bigOptions {
  position: relative;
  display: none;
  top: 3px;
  float: left;
  width: 150px;
  font-size: 24px;
  line-height: 24px;
}
div#bigOptions input,
div#bigOptions label {
  position: relative;
}
div#bigOptions input {
  top: -4px;
  margin-left: 10px;
}
div#bus input {
  width: 112px;
}
div#bus select {
  width: 70px;
  margin-left: 7px;
}
div#bus div#secondBus div.options select {
  margin-left: 4px;
  /* Hack that's needed for an unidentified reason, otherwise select fields on left and right side have differentl margins-ish */
}
div#bus div#firstBus input,
div#bus div#firstBus select,
div#bus div#firstBus div.lines {
  float: right;
}
div#bus div#firstBus div.options {
  text-align: right;
}
div#bus div.secondBus input,
div#bus div.secondBus select {
  float: left;
}
div#bus div.lines {
  position: relative;
  margin-top: 7px;
  display: block;
  width: 181px;
  border-top: 1px solid white;
  box-shadow: 0 1px 2px #888;
  border-radius: 4px;
  background: -webkit-linear-gradient(top, #e8e8e8 0%, #c0c0c0 100%);
  /* Chrome10+,Safari5.1+,Opera15+ */
  background: linear-gradient(to bottom, #e8e8e8 0%, #c0c0c0 100%);
  /* W3C */
  padding: 2px 7px 1px 7px;
  text-align: left;
  font-size: 12px;
  text-shadow: 0 0 0 white;
  /* resets inhertied value from parent element */
}
div#bus div.lines table {
  border: 1px solid transparent;
  width: 100%;
  table-layout: fixed;
  text-align: center;
}
div#bus div.lines table td {
  border: 1px solid transparent;
  padding: 1px 0;
}
div#bus div.lines .active {
  cursor: pointer;
  color: black;
  font-weight: bold;
}
div#bus div.lines .active:hover {
  text-decoration: underline;
}
div#bus div.lines .inactive {
  cursor: pointer;
  color: gray;
}
div#bus div.lines .inactive:hover {
  text-decoration: underline;
}
div#bus div.lines .error {
  color: black;
  text-align: center;
  font-size: 12px;
}
div#bus div.lines .retry {
  color: black;
  text-align: center;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
div#bus div.lines .loadingLeft {
  position: relative;
  width: 80px;
  -webkit-transform: scaleX(-1);
}
div#bus div.lines .loadingRight {
  position: relative;
  width: 80px;
}
