
@import "common.less";

/* This file contains popup-additions to common.less */

// Vars

/* Nothing here yet */

// Mixins

.title {
  font-size: 12px;
  margin-top: 13px;
  margin-bottom: 4px;
}

.dropdownWrapper {
  position: relative;
  left: -8px;
  margin-top: 13px;
  margin-bottom: 4px;
  /* New, trying out some tweaks on the dropdowns */
  /* http://bavotasan.com/2011/style-select-box-using-only-css/ */
  width: 172px;
  height: 20px;
  overflow: hidden;
  background: url('../img/popup-dropdown-arrows.png') no-repeat right rgba(0,0,0,0);
}

.titleDropdown {
  /*background-color: rgba(0,0,0,0);*/
  /*border: 1px solid transparent;*/
  font-size: 12px;
  font-weight: bold;
  outline: none;
  /* New, trying out some tweaks on the dropdowns */
  background: rgba(0,0,0,0);
  width: 200px; /* default 28px wider than wrapper */
  padding-left: 8px;
  border: 0;
  border-radius: 0;
  height: 20px;
  -webkit-appearance: none;

  /* Old, trying out some tweaks on the dropdowns */
  /*&:hover {
    background-color: black;
    border: 1px solid navajowhite;
  }*/
}

.emphasized {
  margin-bottom: 4px;
}

// Rules

body {
  width: 532px; // max 800px
  height: 600px; // max 600px
  font-size: 12px;
  line-height: 14px;
}

#tips {
  position: fixed;
  background-color: Snow;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 35px;
  z-index: 100;
  opacity: .97;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow:
    0 0 20px black;
  .text {
    .debugText;
    color: black;
    font-size: 12px;
    line-height: 16px;
    .clicktoclose {
      .debugText;
      color: #aaa;
      text-align: right;
      font-style: italic;
      margin-top: -20px;
    }
    .big {
      font-size: 17px;
      padding-top: 5px;
    }
    .url {
      display: inline;
      color: grey;
      font-style: italic;
    }
    a {
      outline: none;
      text-decoration: underline;
      color: DarkBlue;
    }
  }
}

#background {
  /* This is typically tweaked by palettes, be careful when changing it */
  background-image: url('/img/background-popup.png');
}

#specialNews {
  .fullbox;
  position: relative;
  background-color: bisque;
  color: #444;
  height: 18px;
  padding-top: 4px;
  padding-left: 20px;
  box-shadow: 0px 4px 10px #444;
  display: none;
  a {
    color: #444;
  }
  img#closeSpecialNews {
    position: relative;
    top: 1px;
    right: -18px;
    width: 10px;
    height: auto;
    cursor: pointer;
  }
}

/* This container keeps the content centered */

#container {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;

  #header {
    .fullbox;
    min-height: 47px;
    padding-bottom: 5px;

    #buttons {
      .debugBox;
      width: 260px;
      float: left;

      .popupbutton {
        height: 27px;
        width: auto;
        border-radius: 5px;
        margin-right: 12px;
        border: 1px solid transparent;
        cursor: pointer;
        -webkit-transition: all .15s ease-out;
      }
      .popupbutton:hover {
        cursor: pointer;
        border: 1px solid white;
      }
    }

    #buttontext {
      .debugText;
      display: none;
      position: relative;
      float: left;
      width: 213px;
      font-weight: bold;
    }
    #logo {
      .debugElement;
      float: right;
      cursor: pointer;
      max-width: 187px;
      max-height: 67px;
    }
  }

  #todays {
    #schedule {
      #servant {
        .emphasized;
      }
      #hackerspace {
        margin-top: 4px;
        span {
          font-weight: bold;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    #coffee {
      #pots {
        .emphasized;
      }
    }
  }

  #cantinas {
    .hours {
      .emphasized;
      cursor: pointer;
    }
    .hours:hover {
      &:hover {
        text-decoration: underline;
      }
    }
    li {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .loadingLeft {
      width: 80px;
      bottom: 4px;
    }
  }

  #bus {
    // This is typically tweaked by palettes, be careful when changing it
    box-shadow: 0 0 15px #aaa;
    top: 16px;
    margin-bottom: 20px;
    padding-bottom: 10px;

    #realtime {
      .debugBox;
      line-height: 13px;
      height: 90px;
      
      .first, .second, .third, .error {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .name {
        margin-bottom: 7px;
      }
      .loadingLeft {
        width: 80px;
        bottom: 4px;
      }
      .loadingRight {
        width: 80px;
        bottom: 4px;
      }
      #firstBus {
        width: 41%;
      }
      #secondBus {
        width: 41%;
      }
      #middle {
        width: 16%;
        #atbLogo {
          position: relative;
          left: -.7px;
          margin: 15px auto;
          height: 61px;
          cursor: pointer;
          border-radius: 3px;
          border-top-left-radius: 16px;
        }
      }
    }

    #oracle {
      .debugBox;
      margin-left: 4.5%;
      width: 90%;
      position: relative;
      top: -1px;
  
      #name {
        margin-right: 7px;
      }
      #question {
        .debugText;
        width: 87%;
        background-color: rgba(115,115,115,0.20);
        border-radius: 4px;
        color: NavajoWhite;
        display: inline;
        font-family: Helvetica;
        font-size: 12px;
        outline: none;
      }
      #answer {
        .debugText;
        position: relative;
        left: -2px;
        padding: 0 1px;
        a {
          color: white;
        }
      }
    }
  }

  #news {
    /* #full for using a single column */
    #full {
      .post {
        .item {
          img.regular {
            min-height: 80px;
            max-height: 200px;
            margin: 0 7px 0 0;
          }
        }
      }
    }

    #left, #right {
      >.title {
        margin-bottom: -5px;
      }
    }

    .post {
      margin-top: 13px;
      .item {
        margin-top: -5px;
        min-height: 40px;
        cursor: pointer;
        margin-left: -7px;
        margin-right: -7px;
        padding: 7px;
        -webkit-transition: box-shadow 0.3s ease-out 0s;

        &:hover {
          box-shadow:
            inset 0 0 2px #bbb,
            0 0 13px white;
        }
        
        .title.flashy {
          font-size: 15px;
          line-height: 18px;
          top: 13px;
          left: 8px;
        }

        .author.flashy {
          font-size: 12px;
          bottom: 14px;
          left: 8px;
        }

        img {
          min-height: 80px;
          max-height: 250px;
          padding: 4px;
        }
        img.regular {
          margin: 2px 0 0 4px;
        }
      }
    }
    .unread {
      font-size: 11px;
    }
  }

  #titleMeasure {
    font-weight: bold;
    color: transparent;
    /* not to be seen, only used for measurement of title widths */
    position: absolute;
    visibility: hidden;
    width: auto;
    height: auto;
    white-space: nowrap;
  }

}
