.debugred {
  border: 0pt solid #ff0000;
}
.debugpink {
  border: 0pt solid #ffc0cb;
}
.debuglime {
  border: 0pt solid #00ff00;
}
.debugyellow {
  border: 0pt solid #ffff00;
}
.fullbox {
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
.title {
  color: #ee861f;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
.title .unread {
  color: white;
}
.emphasized {
  font-style: italic;
}
body {
  background: #001429;
  color: white;
  font-family: Helvetica;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#background {
  /* using a div because the background needs to be resized if
  the display is really big (1500px-2000px in width or height) */

  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* This container keeps the content centered */
#container {
  border: 0pt solid #ffc0cb;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 10;
}
#container #todays {
  border: 0pt solid #ffff00;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #todays #schedule {
  border: 0pt solid #ffc0cb;
  position: relative;
  float: left;
  width: 48%;
}
#container #todays #schedule #servant {
  font-style: italic;
}
#container #todays #coffee {
  border: 0pt solid #ffc0cb;
  position: relative;
  float: right;
  width: 50%;
  /* when the right floating box is half the width it'll appear they're both aligned to 50% */

}
#container #todays #coffee #pots {
  font-style: italic;
}
#container #cantinas {
  border: 0pt solid #ff0000;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #cantinas .hours {
  font-weight: normal;
  font-style: italic;
  text-transform: none;
}
#container #cantinas #left {
  border: 0pt solid #ffc0cb;
  position: relative;
  float: left;
  width: 48%;
}
#container #cantinas #right {
  border: 0pt solid #ffc0cb;
  position: relative;
  float: right;
  width: 50%;
  /* when the right floating box is half the width it'll appear they're both aligned to 50% */

}
#container #cantinas #dinnerbox {
  border: 0pt solid #ffff00;
}
#container #cantinas li {
  border: 0pt solid #00ff00;
  position: relative;
  width: 95%;
  list-style-type: none;
  -webkit-transition: text-shadow 0.15s ease-out 0s;
}
#container #cantinas li.message {
  /*font-style: italic;*/

}
#container #bus {
  border: 0pt solid #ff0000;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: #000f1d;
  width: 110%;
  margin-left: -5%;
}
#container #bus .name {
  margin-bottom: 4pt;
  text-decoration: underline;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container #bus #firstBus {
  border: 0pt solid #00ff00;
  position: relative;
  float: left;
  text-align: right;
  padding-top: 10pt;
  width: 40%;
}
#container #bus #secondBus {
  border: 0pt solid #00ff00;
  position: relative;
  float: left;
  text-align: left;
  padding-top: 10pt;
  width: 40%;
}
#container #bus .loading_left {
  position: relative;
  z-index: 100;
  -webkit-transform: scaleX(-1);
}
#container #bus .loading_right {
  position: relative;
  z-index: 100;
}
#container #bus .first,
#container #bus .second,
#container #bus .third,
#container #bus .fourth,
#container #bus .fifth,
#container #bus .sixth,
#container #bus .seventh,
#container #bus .eighth,
#container #bus .nineth,
#container #bus .tenth {
  border: 0pt solid #ff0000;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container #bus .time {
  font-weight: bold;
}
#container #bus .error {
  font-style: italic;
}
#container #bus #middle {
  border: 0pt solid #00ff00;
  position: relative;
  float: left;
  text-align: center;
  height: 100%;
}
#container #news {
  border: 0pt solid #ff0000;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #news .post {
  border: 0pt solid #ffff00;
  position: relative;
  clear: both;
}
#container #news .post .item {
  border: 0pt solid #ffff00;
  text-overflow: ellipsis;
  overflow: hidden;
}
#container #news .post .item img {
  float: left;
  background: snow;
}
#container #news .post .item .textwrapper {
  border: 0pt solid #00ff00;
  position: relative;
  float: left;
  text-align: left;
}
#container #news .unread {
  text-shadow: 0 0 10px white,
        0 0 15px white,
        0 0 20px white,
        0 0 25px #011b36,
        0 0 30px #011b36,
        0 0 35px #fff,
        0 0 40px #011b36,
        0 0 45px #011b36;
}
/* This file contains popup-additions to common.less */
.title {
  font-size: 9pt;
  padding-top: 10pt;
  padding-bottom: 2pt;
}
.emphasized {
  margin-top: 3pt;
}
body {
  width: 350pt;
  height: 400pt;
  font-size: 9pt;
  line-height: 11.5pt;
}
#tips {
  position: fixed;
  background-color: Snow;
  top: 20pt;
  right: 20pt;
  left: 20pt;
  height: 320pt;
  border-radius: 3pt;
  padding: 20pt;
  z-index: 100;
  opacity: .95;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0pt 0pt 10pt black,
    0pt 0pt 30pt black,
    0pt 0pt 70pt black;
}
#tips .text {
  border: 0pt solid #ffc0cb;
  color: black;
  font-size: 9pt;
}
#tips .text .clicktoclose {
  border: 0pt solid #ff0000;
  color: #aaa;
  text-align: right;
  font-style: italic;
  margin-top: -15pt;
}
#tips .text .big {
  font-size: 14pt;
}
#tips .text .url {
  display: inline;
  color: grey;
  font-style: italic;
}
#tips .text a {
  outline: none;
  text-decoration: underline;
  color: DarkBlue;
}
#background {
  background-image: url('/img/background-popup.png');
}
/* This container keeps the content centered */
#container {
  overflow-y: auto;
  padding: 15pt;
}
#container #header {
  border: 0pt solid #ff0000;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 35pt;
  padding-bottom: 4pt;
}
#container #header #buttons {
  border: 0pt solid #00ff00;
  width: 170pt;
  float: left;
}
#container #header #buttons .popupbutton {
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-out;
}
#container #header #buttons .popupbutton:hover {
  box-shadow: inset 0pt 0pt 5pt #777,
          0pt 0pt 10pt #bbb,
          0pt 0pt 15pt #bbb,
          0pt 0pt 20pt #bbb;
}
#container #header #buttontext {
  border: 0pt solid #ffff00;
  display: none;
  position: relative;
  float: left;
  width: 170pt;
  font-weight: bold;
  text-shadow: 0 0 10pt white,
        0 0 15pt white,
        0 0 20pt white;
}
#container #header #logo {
  border: 0pt solid #ffff00;
  float: right;
  cursor: pointer;
  max-width: 140pt;
  max-height: 50pt;
}
#container #todays #schedule #servant {
  margin-bottom: 2pt;
}
#container #todays #coffee #pots {
  margin-bottom: 2pt;
}
#container #cantinas .hours {
  padding-bottom: 2pt;
}
#container #cantinas li {
  cursor: pointer;
}
#container #cantinas li:hover {
  text-shadow: 0 0 7pt white,
        0 0 10pt white,
        0 0 15pt white,
        0 0 20pt white,
        0 0 30pt #011b36,
        0 0 30pt #011b36,
        0 0 50pt #011b36,
        0 0 50pt #011b36;
}
#container #bus {
  top: 12pt;
  line-height: 11.5pt;
  height: 65pt;
  margin-bottom: 15pt;
  box-shadow: 0 0 20pt #88b;
}
#container #bus .name {
  margin-bottom: 4pt;
}
#container #bus .loading_left {
  width: 80px;
  bottom: 3pt;
}
#container #bus .loading_right {
  width: 80px;
  bottom: 3pt;
}
#container #bus #middle {
  width: 18%;
}
#container #bus #middle #atb_logo {
  position: relative;
  left: -0.5pt;
  margin: 11pt auto;
  height: 46pt;
  cursor: pointer;
}
#container #news {
  /* #full for using a single column */

  /* #left and #right for using double columns */

}
#container #news #full {
  position: relative;
  width: 100%;
  float: left;
}
#container #news #full img {
  float: left;
  width: 70pt;
  max-height: 70pt;
  margin: 0 5pt 3pt 0;
}
#container #news #left {
  position: relative;
  width: 45%;
  float: left;
}
#container #news #left img {
  float: right;
  margin: 0 0pt 3pt 3pt;
}
#container #news #right {
  position: relative;
  width: 50%;
  float: right;
}
#container #news #right .title {
  color: LightGrey;
}
#container #news #right img {
  float: right;
  margin: 0 0 3pt 3pt;
}
#container #news .post {
  margin-top: 10pt;
}
#container #news .post .item {
  margin-top: -4pt;
  min-height: 30pt;
  cursor: pointer;
  margin-left: -5pt;
  margin-right: -5pt;
  padding: 5pt;
  -webkit-transition: box-shadow 0.3s ease-out 0s;
}
#container #news .post .item:hover {
  box-shadow: inset 0pt 0pt 2pt #bbb,
            0pt 0pt 10pt white;
}
#container #news .post .item .title {
  padding-top: 0pt;
  /* overrides default value */

}
#container #news .post .item img {
  width: 60pt;
  max-height: 60pt;
  padding: 3pt;
  box-shadow: 0 0 10pt #bbb;
}
#container #news .unread {
  font-size: 8pt;
}
