/* COMMON FILE FOR popup.html, infoscreen.html */
/* DEBUG variables, set to colors instead of
 * transparents for debug borders around everything
 */
/*
@debugRed: red;
@debugCyan: cyan;
@debugLime: lime;
@debugYellow: yellow;
/*/
/* Debugging, use bright colors that stand out */
.debugContainer {
  border: 1px solid transparent;
}
/* Outer containers */
.debugBox {
  border: 1px solid transparent;
}
/* Inner containers */
.debugText {
  border: 1px solid transparent;
}
/* Text elements */
.debugElement {
  border: 1px solid transparent;
}
/* Other elements */
/* Mixins */
.fullbox {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
.title,
.titleDropdown {
  border: 1px solid transparent;
  color: NavajoWhite;
  display: block;
  font-weight: bold;
}
.title .unread,
.titleDropdown .unread {
  color: white;
}
.emphasized {
  border: 1px solid transparent;
  font-style: italic;
}
/* Rules */
body {
  color: white;
  font-family: Helvetica;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}
#background {
  /* using a div because the background needs to be resized if
   * the display is really big (1500px-2000px in width or height)
   */
  position: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
/* This container keeps the content centered */
#container {
  border: 1px solid transparent;
  position: relative;
}
#container #office {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #todays {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #todays #schedule {
  border: 1px solid transparent;
  float: left;
  width: 47.5%;
}
#container #todays #schedule #servant {
  border: 1px solid transparent;
  font-style: italic;
  margin-bottom: 4px;
}
#container #todays #coffee {
  border: 1px solid transparent;
  float: right;
  width: 47.5%;
}
#container #todays #coffee #pots {
  border: 1px solid transparent;
  font-style: italic;
  margin-bottom: 4px;
}
#container #cantinas {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container #cantinas .hours {
  border: 1px solid transparent;
  font-style: italic;
  margin-bottom: 4px;
  -webkit-transition: text-shadow 0.15s ease-out 0s;
}
#container #cantinas .first {
  border: 1px solid transparent;
  position: relative;
  float: left;
  width: 47.5%;
}
#container #cantinas .second {
  border: 1px solid transparent;
  position: relative;
  float: right;
  width: 47.5%;
}
#container #cantinas #dinnerbox {
  border: 1px solid transparent;
}
#container #cantinas li {
  border: 1px solid transparent;
  position: relative;
  width: 95%;
  list-style-type: none;
  -webkit-transition: text-shadow 0.15s ease-out 0s;
}
#container #cantinas li.message {
  /*font-style: italic;*/
}
#container #bus {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: #111;
  background-clip: padding-box;
  /* makes the background color only show on the inside of the border */
  width: 110%;
  margin-left: -5%;
}
#container #bus .name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container #bus #firstBus {
  border: 1px solid transparent;
  position: relative;
  float: left;
  text-align: right;
  padding-top: 14px;
}
#container #bus #secondBus {
  border: 1px solid transparent;
  position: relative;
  float: left;
  text-align: left;
  padding-top: 14px;
}
#container #bus .loadingLeft {
  position: relative;
  z-index: 100;
  -webkit-transform: scaleX(-1);
}
#container #bus .loadingRight {
  position: relative;
  z-index: 100;
}
#container #bus .first,
#container #bus .second,
#container #bus .third,
#container #bus .fourth,
#container #bus .fifth,
#container #bus .sixth,
#container #bus .seventh,
#container #bus .eighth,
#container #bus .nineth,
#container #bus .tenth {
  border: 1px solid transparent;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container #bus .time {
  /* nothing here yet */
}
#container #bus .error {
  font-style: italic;
}
#container #bus #middle {
  border: 1px solid transparent;
  position: relative;
  float: left;
  text-align: center;
  height: 100%;
}
#container #news {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  /* #full for using a single column */
  /* #left and #right for using double columns */
  /* for each news post, and item within */
}
#container #news #full {
  position: relative;
  width: 100%;
  float: left;
}
#container #news #full > .title {
  display: none;
  /* no need for affiliation title when only one is in use */
}
#container #news #full article img.regular {
  float: left;
  width: 33%;
}
#container #news #left {
  position: relative;
  width: 47.5%;
  float: left;
}
#container #news #right {
  position: relative;
  width: 47.5%;
  float: right;
}
#container #news #right .title.regular {
  color: LightGrey;
}
#container #news article {
  border: 1px solid transparent;
  position: relative;
  clear: both;
  text-overflow: ellipsis;
  overflow: hidden;
}
#container #news article .title {
  position: relative;
  margin-top: 0;
  /* overrides default value */
}
#container #news article .title.flashy {
  position: absolute;
  width: 92%;
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  text-transform: none;
  text-shadow: 0 0 5px #333333, 0 0 10px #333333, -1px -1px 1px #333333, -1px 1px 1px #333333, 1px -1px 1px #333333, 1px 1px 1px #333333;
}
#container #news article .author {
  display: inline;
  position: relative;
  font-style: italic;
}
#container #news article .author.flashy {
  position: absolute;
  width: 92%;
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  text-shadow: 0 0 5px #000000, -1px -1px 1px #333333, -1px 1px 1px #333333, 1px -1px 1px #333333, 1px 1px 1px #333333;
}
#container #news article img {
  width: 100%;
  height: auto;
  background: snow;
}
#container #news article img.regular {
  float: right;
  width: 33%;
}
#container #news article img.flashy {
  float: left;
  width: 97%;
  margin: 0;
}
#container #news .unread {
  text-shadow: 0 0 5px #000000, -1px -1px 1px #333333, -1px 1px 1px #333333, 1px -1px 1px #333333, 1px 1px 1px #333333;
}
/* This file contains popup-additions to common.less */
/* Nothing here yet */
.title {
  font-size: 12px;
  margin-top: 13px;
  margin-bottom: 4px;
}
.dropdownWrapper {
  position: relative;
  left: -8px;
  margin-top: 13px;
  margin-bottom: 4px;
  /* New, trying out some tweaks on the dropdowns */
  /* http://bavotasan.com/2011/style-select-box-using-only-css/ */
  width: 172px;
  height: 20px;
  overflow: hidden;
  background: url('../img/popup-dropdown-arrows.png') no-repeat right rgba(0, 0, 0, 0);
}
.titleDropdown {
  /*background-color: rgba(0,0,0,0);*/
  /*border: 1px solid transparent;*/
  font-size: 12px;
  font-weight: bold;
  outline: none;
  /* New, trying out some tweaks on the dropdowns */
  background: rgba(0, 0, 0, 0);
  width: 200px;
  /* default 28px wider than wrapper */
  padding-left: 8px;
  border: 0;
  border-radius: 0;
  height: 20px;
  -webkit-appearance: none;
  /* Old, trying out some tweaks on the dropdowns */
  /*&:hover {
    background-color: black;
    border: 1px solid navajowhite;
  }*/
}
.emphasized {
  margin-bottom: 4px;
}
body {
  width: 532px;
  height: 600px;
  font-size: 12px;
  line-height: 14px;
}
#tips {
  position: fixed;
  background-color: Snow;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 35px;
  z-index: 100;
  opacity: .97;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 0 20px black;
}
#tips .text {
  border: 1px solid transparent;
  color: black;
  font-size: 12px;
  line-height: 16px;
}
#tips .text .clicktoclose {
  border: 1px solid transparent;
  color: #aaa;
  text-align: right;
  font-style: italic;
  margin-top: -20px;
}
#tips .text .big {
  font-size: 17px;
  padding-top: 5px;
}
#tips .text .url {
  display: inline;
  color: grey;
  font-style: italic;
}
#tips .text a {
  outline: none;
  text-decoration: underline;
  color: DarkBlue;
}
#background {
  /* This is typically tweaked by palettes, be careful when changing it */
  background-image: url('/img/background-popup.png');
}
#specialNews {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: bisque;
  color: #444;
  height: 18px;
  padding-top: 4px;
  padding-left: 20px;
  box-shadow: 0px 4px 10px #444;
  display: none;
}
#specialNews a {
  color: #444;
}
#specialNews img#closeSpecialNews {
  position: relative;
  top: 1px;
  right: -18px;
  width: 10px;
  height: auto;
  cursor: pointer;
}
/* This container keeps the content centered */
#container {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}
#container #header {
  border: 1px solid transparent;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 47px;
  padding-bottom: 5px;
}
#container #header #buttons {
  border: 1px solid transparent;
  width: 260px;
  float: left;
}
#container #header #buttons .popupbutton {
  height: 27px;
  width: auto;
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
  border: 1px solid transparent;
}
#container #header #buttons .popupbutton:hover {
  border: 1px solid white;
}
#container #header #buttons #chatterButton {
  display: none;
}
#container #header #buttontext {
  border: 1px solid transparent;
  display: none;
  position: relative;
  float: left;
  width: 213px;
  font-weight: bold;
}
#container #header #logo {
  border: 1px solid transparent;
  float: right;
  cursor: pointer;
  max-width: 187px;
  max-height: 67px;
}
#container #todays #schedule #servant {
  border: 1px solid transparent;
  font-style: italic;
  margin-bottom: 4px;
}
#container #todays #schedule #hackerspace {
  margin-top: 4px;
}
#container #todays #schedule #hackerspace span {
  font-weight: bold;
  cursor: pointer;
}
#container #todays #schedule #hackerspace span:hover {
  text-decoration: underline;
}
#container #todays #coffee #pots {
  border: 1px solid transparent;
  font-style: italic;
  margin-bottom: 4px;
}
#container #cantinas .hours {
  border: 1px solid transparent;
  font-style: italic;
  margin-bottom: 4px;
  cursor: pointer;
}
#container #cantinas .hours:hover:hover {
  text-decoration: underline;
}
#container #cantinas li {
  cursor: pointer;
}
#container #cantinas li:hover {
  text-decoration: underline;
}
#container #cantinas .loadingLeft {
  width: 80px;
  bottom: 4px;
}
#container #bus {
  box-shadow: 0 0 15px #aaa;
  top: 16px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
#container #bus #realtime {
  border: 1px solid transparent;
  line-height: 13px;
  height: 90px;
}
#container #bus #realtime .first,
#container #bus #realtime .second,
#container #bus #realtime .third,
#container #bus #realtime .error {
  cursor: pointer;
}
#container #bus #realtime .first:hover,
#container #bus #realtime .second:hover,
#container #bus #realtime .third:hover,
#container #bus #realtime .error:hover {
  text-decoration: underline;
}
#container #bus #realtime .name {
  margin-bottom: 7px;
}
#container #bus #realtime .loadingLeft {
  width: 80px;
  bottom: 4px;
}
#container #bus #realtime .loadingRight {
  width: 80px;
  bottom: 4px;
}
#container #bus #realtime #firstBus {
  width: 41%;
}
#container #bus #realtime #secondBus {
  width: 41%;
}
#container #bus #realtime #middle {
  width: 16%;
}
#container #bus #realtime #middle #atbLogo {
  position: relative;
  left: -0.7px;
  margin: 15px auto;
  height: 61px;
  cursor: pointer;
  border-radius: 3px;
  border-top-left-radius: 16px;
}
#container #bus #oracle {
  border: 1px solid transparent;
  margin-left: 4.5%;
  width: 90%;
  position: relative;
  top: -1px;
}
#container #bus #oracle #name {
  margin-right: 7px;
}
#container #bus #oracle #question {
  border: 1px solid transparent;
  width: 87%;
  background-color: rgba(115, 115, 115, 0.2);
  border-radius: 4px;
  color: NavajoWhite;
  display: inline;
  font-family: Helvetica;
  font-size: 12px;
  outline: none;
}
#container #bus #oracle #answer {
  border: 1px solid transparent;
  position: relative;
  left: -2px;
  padding: 0 1px;
}
#container #bus #oracle #answer a {
  color: white;
}
#container #news {
  /* #full for using a single column */
}
#container #news #full article img.regular {
  min-height: 80px;
  max-height: 200px;
  margin: 0 7px 0 0;
}
#container #news #left > .title,
#container #news #right > .title {
  margin-bottom: -5px;
}
#container #news article {
  margin-top: 13px;
  min-height: 40px;
  cursor: pointer;
}
#container #news article:hover {
  text-decoration: underline;
}
#container #news article .title.flashy {
  font-size: 15px;
  line-height: 18px;
  top: 7px;
  left: 8px;
}
#container #news article .author.flashy {
  font-size: 12px;
  bottom: 8px;
  left: 8px;
}
#container #news article img {
  min-height: 80px;
  max-height: 250px;
  padding: 4px;
}
#container #news article img.regular {
  margin: 2px 0 0 4px;
}
#container #news .unread {
  font-size: 11px;
}
#container #titleMeasure {
  font-weight: bold;
  color: transparent;
  /* not to be seen, only used for measurement of title widths */
  position: absolute;
  visibility: hidden;
  width: auto;
  height: auto;
  white-space: nowrap;
}
