<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="extensions:onlinenotifier" version="2.5.0">
	
  <name short="Notifier">
    Online Notifier
  </name>
	<description>
    Nyheter, kontorstatus, sanntidsbuss, kaffeabonnement, middagsmeny og mer.
  </description>
	<author href="https://online.ntnu.no" email="dotkom@online.ntnu.no">
    dotKom
  </author>
	<license href="http://www.opensource.org/licenses/mit-license.php">
    Licensed under the MIT license
  </license>

  <icon src="img/logo-18.png" width="18" height="18" />
	<icon src="img/logo-64.png" width="64" height="64" />
  
  <content src="background.html" type="text/html" encoding="utf-8" />

  <access origin="https://*/*" subdomains="true" />
  <access origin="http://*/*" subdomains="true" />

</widget>
