
.title {
  color: #e37c00;
}

#background, #fadeOutNews {
  -webkit-filter: grayscale(1) saturate(2.6) brightness(.9);
}

#pfFlip {
  -webkit-filter: grayscale(1) brightness(.9);
}

#pfBackground {
  -webkit-filter: grayscale(1) brightness(0.5);
}

#container #bus {
  box-shadow: 0 0 15px #e37c00;
}
