
.title {
  color: NavajoWhite;
  text-decoration: none;
}

#background, #fadeOutNews {
  -webkit-filter: hue-rotate(0deg) saturate(1) brightness(1);
}

#pageflip {
  -webkit-filter: hue-rotate(0deg) saturate(1) brightness(1.1);
}

#bus {
  background-color: #111;
  box-shadow: 0 0 15pt #ccc;
}
