
#background, #fadeOutNews {
  -webkit-filter: hue-rotate(-85deg) saturate(1.4) brightness(1);
}

#pfFlip {
  -webkit-filter: hue-rotate(-85deg) saturate(1.4) brightness(1);
}

#pfBackground {
  -webkit-filter: grayscale(1) saturate(1.4) brightness(0.5);
}
