
#background, #fadeOutNews {
  -webkit-filter: grayscale(1) saturate(2.6) brightness(2.2);
}

#pageflip {
  -webkit-filter: grayscale(1) saturate(2.6) brightness(1.2);
}

#pageflipbg {
  -webkit-filter: grayscale(1) saturate(1.4) brightness(0.5);
}
