
#background, #fadeOutNews {
  -webkit-filter: hue-rotate(92deg) saturate(1.4) brightness(1.7);
}

#pfFlip {
  -webkit-filter: hue-rotate(82deg) saturate(1.4) brightness(1.6);
}

#pfBackground {
  -webkit-filter: grayscale(1) saturate(1.4) brightness(0.5);
}
