
.title {
  color: NavajoWhite;
  text-decoration: none;
}

#background, #fadeOutNews {
  -webkit-filter: hue-rotate(66deg) saturate(1) brightness(1);
}

#pageflip {
  -webkit-filter: hue-rotate(56deg) saturate(1) brightness(0.9);
}

#bus {
  background-color: #111;
  box-shadow:
    0 0 10pt #fff,
    0 0 25pt #fff;
}
