
.title {
  color: NavajoWhite;
  text-decoration: none;
}

#background, #fadeOutNews {
  -webkit-filter: hue-rotate(144deg) saturate(1.1) brightness(1.1);
}

#pageflip {
  -webkit-filter: hue-rotate(134deg) saturate(1) brightness(0.8);
}

#pageflipbg {
  -webkit-filter: grayscale(1) saturate(1.4) brightness(0.5);
}

#container #bus {
  background-color: #111;
  box-shadow: 0 0 15pt #ccc;
}
