
.title {
  color: white;
  text-shadow:
    0 0 10pt #e07900,
    0 0 20pt #e07900;
  text-decoration: none;
}

#background, #fadeOutNews, #pageflip {
  -webkit-filter: hue-rotate(144deg) saturate(1.1) brightness(1.1);
}

#container #bus {
  background-color: #111;
  box-shadow: 0 0 15pt #ccc;
}
