
body {
  color: Black;
}

.title {
  color: Black;
}

#background, #fadeOutNews, #pageflip {
  background-image: url();
  background-color: white;
}

#container #bus {
  color: black;
  background-color: LightGray;
  box-shadow: 0 0 15pt #ccc;
}
