
.title {
  color: white;
  text-shadow:
    0 0 10pt #444,
    0 0 20pt #444;
  text-decoration: none;
}

#background, #fadeOutNews {
  -webkit-filter: hue-rotate(-151deg) saturate(2.7) brightness(2.7);
}

#pageflip {
  -webkit-filter: hue-rotate(-181deg) saturate(1.9) brightness(1.4);
}

#container #bus {
  background-color: #111;
  box-shadow: 0 0 15pt #ccc;
}
